- title t('.title')

%ul
  %li= link_to t('.company'), dashboard_edit_company_path
  %li= link_to t('.users'), dashboard_users_path
  %li= link_to t('.dropdown_values'), dashboard_dropdown_values_path
