.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.bundle
db/*.sqlite3
log/*.log
log
tmp/
config/database.yml
*.swp
*.swo
*.swm
*.swn
*.swl
*.swj
*.swh
*.swa
.sass-cache
.rvmrc
config/development.sphinx.conf
config/production.sphinx.conf
db/sphinx/
public/uploads/
public/tourism.manifest
public/assets
*.sublime-project
*.sublime-workspace
