.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.bundle
db/*.sqlite3
log/*.log
log
tmp/
config/*.yml
*.swp
*.swo
*.swm
*.swn
*.swl
*.swj
*.swh
*.swa
.sass-cache
Capfile
config/development.sphinx.conf
db/sphinx/
.rvmrc

