Gemfile
Gemfile.lock
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.bundle
db/*.sqlite3
log/*.log
log
tmp/
config/database.yml
config/application.yml
*.swp
*.swo
*.swm
*.swn
*.swl
*.swj
*.swh
*.swa
.sass-cache
.rvmrc
.ruby-gemset
.ruby-version
config/*.sphinx.conf
db/sphinx/
public/uploads/
uploads/
public/tourism.manifest
public/assets
*.sublime-project
*.sublime-workspace
.idea
config/initializers/better_errors.rb
coverage/
config/certs/
uploads/
