uncustomizeSelect('#regions, #cities');
$('#regions').replaceWith("#{ j(select_tag :regions, options_for_select(@regions_options), :class => 'company_select') }");
$('#cities').replaceWith("#{ j(select_tag :cities, options_for_select(@cities_options), :class => 'company_select') }");
