uncustomizeSelect('#region_select, #city_select');
$('#region_select').replaceWith("#{ j(select_tag :region_select, options_for_select(@region_select_options), :class => 'company_select') }");
$('#city_select').replaceWith("#{ j(select_tag :city_select, options_for_select(@city_select_options), :class => 'company_select') }");
