- task ||= @task
- set_current_width(:small)
- content_for(:body_class) { 'panel task edit_operator' }

- title t('.edit_task')

/ = form_for @task do |form|
/   - @form_id = form.options[:html][:id]
= render 'form', task: task