- content_for(:body_class) { 'panel' }

- title t('.emails')
%br
- @emails.desc_email.each do |m|
  %h1
    = m.title
  .clear
  %br
  = sanitize m.body.gsub(/<!--.+?-->/, '').gsub(/<blockquote.+?\/blockquote>/, '').strip, :tags => %w(p a br div), attribute: %w(href)

- content_for(:float_panel) do
  = link_to t('back'), :back, class: 'back'


