- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.emails')
%br
- @emails.each do |m|
  = m.title
  %br
  = sanitize m.body, :tags => %w(p a br), attribute: %w(href)# raw m.body.gsub(/\r?\n/, "<br>")

- content_for(:float_panel) do
  = link_to t('back'), :back, class: 'back'


