.row
  .span2
    = form_tag('/tasks', :method => :put, :remote => true) do 
      = select_tag(:status, options_for_select(Task::STATUS.map{|st| [st,st] } ))
.row
  .span2
    .tasks
      = render 'tasks'
