- content_for(:html_class) { 'edit_page' }
- content_for(:body_class) { 'order panel' }

= form_for @claim, :builder => TourismFormBuilder, :wrapper => true, remote: true do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'form_short', :locals => { :f => form }