- if is_mistral?
  = render partial: 'claims', object: @claims, locals: { totals: @totals }
- else
  = render partial: 'claims_new', object: @claims, locals: { totals: @totals }

- if next_page <= @claims_collection.total_pages
  %tr{ :class => "waypoint", :data => {:page => next_page} }