- content_for(:body_class) { 'panel' }

- title t('admin.visitors_info.title')

- content_for :top do
  %form.filter
    = render :partial => 'shared/search_field', :locals => { :filter_class => 'search small_filter', :submit_class => 'go_search filter_margin' }

.admin_visitors
  = render "admin/visitors"