- content_for(:body_class) { 'company panel' }

- title t('.title')

= form_for [:dashboard, @company], :builder => TourismFormBuilder, :url => update_printers_dashboard_company_path(current_company), :html => { :multipart => true } do |form|
  - @form_id = form.options[:html][:id]
  = render :partial => 'printers', :locals => { :f => form }

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }