<h1>Панель управления</h1>
<ul>
  <li><a href="/dashboard/edit_company">Моя компания</a></li>
  <li><a href="/dashboard/users">Сотрудники</a></li>
  <li><a href="/operators">Туроператоры</a></li>
  <li><a href="/dashboard/dropdown_values">Списки значений</a></li>
  <li><a href="/tourists">Туристы</a></li>
  <li><a href="/clients">Клиенты</a></li>
  <li><a href="/addresses">Адреса</a></li>
  <li><a href="/catalogs">Каталоги</a></li>
</ul>