.current_container
  = render partial: !show_potential_clients ? 'tourists' : 'potential_clients', locals: { tourists: @tourists, potentials: params[:potential] }

  = render partial: 'shared/pagination', locals: { collection: @tourists }
