%h1 All Tourists
%table#tourists
  %thead
    %tr
      %th ФИО
      %th Серия паспорта
      %th Номер паспорта
      %th Действителен до
      %th Номер телефона
      %th Адрес
      %th Дата рождения
      %th Добавлен
      %th Изменен
      %th
      %th
  %tbody
    =render :partial => 'tourist', :collection => @tourists

= link_to "Добавить туриста", new_tourist_path

