- title t('.title')
= select_tag :list_filter, options_for_select(DropdownValue.all(:select => 'distinct(list)').map(&:list))

= render :partial => 'table'

%p= link_to t('.new_dropdown_value'), new_dropdown_value_path
