.claim_list_v2 .reservations {
  tr:hover td {background: #cccccc}
  .even td  { background: #ffffff}
  .odd td {background: #f4f4f4}

  td span {color: black;}

  td.green_back, .docs_sent {
    background-color: #53aa55 !important;
    span { color: black !important; }
  }

  .red_back, .nothing_done, .hot, .not_ready, .received {
    background-color: #f05f5f !important;
    span { color: black !important; }
    color: black !important;
  }

  .orange_back, .docs_got, .soon {
    background-color: #ffb1b1 !important;
    span { color: black !important; }
  }
}

.list_v2 .list_table tr {
  cursor: pointer
}

.js_v2 {
  tr {cursor: pointer}
}

.claims .reservations th.green_back {
  background: url("/assets/green_title_1.png") repeat-x; // scroll right//, url("/assets/th_blue.png") repeat-x scroll left top;
  background-color: #c4efbd;//#99f7a5;
}

.tourists {
  tr:hover {background: #cccccc}
  .even { background: #ffffff}
  .odd {background: #f4f4f4}
}