- columns =  Claim.column_names

:javascript
  alert(#{ 'id' });
  var db = null;
  try {
    if (window.openDatabase) {
      db = openDatabase('tourism', '1.0', 'Local storage', 20000);
      if (db) {
        db.transaction(function(tx) {
          tx.executeSql('INSERT INTO tourism_claims (' + #{ 'id' } + ') VALUES (' + #{ '1' } + ')');
        });
      }
  } catch(err) { }
