<h1>{{name}}</h1>
<p>
  Номер в реестре: {{register_number}}
</p>
<p>
  Серия в реестре: {{register_series}}
</p>
<p>
  ИНН: {{inn}}
</p>
<p>
  ОГРН: {{ogrn}}
</p>
<p>
  Адрес: {{address}}
</p>
<p>
  <a href="/operators/{{id}}/edit">Изменить</a>
  |
  <a href="/operators/{{id}}" data-confirm="Вы уверены?" data-method="delete" rel="nofollow">Удалить</a>
  |
  <a href="/operators">Показать все</a>
</p>