- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.operators')

- content_for :top do
  %form.filter
    = render 'shared/search_field'

= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.new_operator'), new_operator_path, :class => 'add_operator'

