- title t('.clients')
%table#clients
  %thead
    %tr
      %th ФИО
      %th Серия паспорта
      %th Номер паспорта
      %th Действителен до
      %th Номер телефона
      %th Адрес
      %th Дата рождения
      %th Добавлен
      %th Изменен
      %th
      %th
  %tbody
    =render :partial => 'client', :collection => @clients

= link_to t('.add_client'), new_client_path
