- li_class = ''
- tourists_class = ''
- potentials_class = ''
- sms_sendings_class = ''

- if params[:controller] == 'tourists' || params[:controller] == 'sms_sendings'
  - li_class = 'active'
  - if params[:potential] == 'true'
    - potentials_class = 'active'
  - elsif params[:sms_sendings] == 'true'
    - sms_sendings_class = 'active'
  - else
    - tourists_class = 'active'

%li{ :class => li_class }
  = link_to t('.clients'), tourists_path(:potential => true)
  .rmenu_dropdown
    %ul
      %li.first_menu_stroke{ :class => tourists_class }= link_to t('.tourists'), tourists_path
      %li.first_menu_stroke{ :class => potentials_class }= link_to t('.potentials'), tourists_path(:potential => true)
      %li.first_menu_stroke{ :class => sms_sendings_class }= link_to t('.sms_sendings'), sms_sendings_path(:sms_sendings => true)