- li_class = ''
- tourists_class = ''
- potentials_class = ''

- if params[:controller] == 'tourists'
  - li_class = 'active'
  - if params[:potential].blank?
    - tourists_class = 'active'
  - else
    - potentials_class = 'active'

%li{ :class => li_class }
  = link_to t('.clients'), tourists_path
  .rmenu_dropdown
    %ul
      %li.first_menu_stroke{ :class => tourists_class }= link_to t('.tourists'), tourists_path
      %li.first_menu_stroke{ :class => potentials_class }= link_to t('.potentials'), tourists_path(:potential => true)