%li{:class => 'demo_enter'}
  = link_to t('.demo_enter'), dashboard_sign_in_as_path(User.where(login: 'demo').first) if (Claim.count > 10) && (current_user != User.where(login: 'demo').first)
  = link_to t('.demo_exit'), dashboard_sign_in_as_path(SignInAs::Devise::Strategies::FromAdmin.authenticate!) if (current_user == User.where(login: 'demo').first)
