%li{:class => 'demo_enter'}
  - if show_demo_enter
    = link_to t('.demo_enter'), dashboard_sign_in_as_path(demo_user), { :class=>"demo_tooltip", title: t('.demo_tooltip', claim_count_for_demo: CONFIG[:claim_count_for_demo]) }
  - if show_demo_exit
    = link_to t('.demo_exit'), dashboard_sign_in_as_path(original_user)
