- a = params[:action]
%li{:class => a == 'index' && 'active' }= link_to t('.companies'), admin_index_path
%li{:class => a == 'visitors' && 'active' }= link_to t('.visitors'), admin_visitors_path
%li{:class => params[:controller] == 'tariff_plans' && 'active' }
  = link_to t('layouts.main_menu.management.tariff_plans'), tariff_plans_path if can? :manage, TariffPlan
-# Temporary removed
  %li.first_menu_stroke= link_to t('.instructions'), admin_instructions_path