- c = params[:controller]

%li{:class => c == 'registrations' && 'active' }= link_to t('.profile'), edit_user_registration_path
- if can? :index, UserPayment
  %li{:class => c == 'user_payments' && 'active' }= link_to t('.user_payments'), user_payments_path