%li{:class => params[:controller] == 'tasks' && 'active' }
  %a{:href => '#'}= t('.support')
  .rmenu_dropdown
    %ul
      %li= link_to t('.write_review'), '#', id: 'write_review'
      %li{:class => params[:controller] == 'tasks' && 'active' }
        = link_to t('.task_list'), tasks_path if user_signed_in? && current_user.role == 'admin'