- if is_admin?
  - name = t('.task_list')
- else
  - name = t('.reviews')
%li{:class => params[:controller] == 'tasks' && 'active' }
  = link_to t('.support'), tasks_path
  .rmenu_dropdown
    %ul
      %li.first_menu_stroke= link_to t('.write_review'), '#', class: 'write_review'
      %li.first_menu_stroke{:class => params[:controller] == 'tasks' && 'active' }
        = link_to name, tasks_path
