%li{:class => params[:controller] == 'tasks' && 'active' }
  %a{:href => can?(:read, Task) ? tasks_path : '#'}= t('.support')
  .rmenu_dropdown
    %ul
      %li.first_menu_stroke= link_to t('.write_review'), '#', id: 'write_review'
      %li.first_menu_stroke{:class => params[:controller] == 'tasks' && 'active' }
        = link_to t('.task_list'), tasks_path if user_signed_in? && current_user.role == 'admin'