.admin.check_list {
  display: inline-block;
  float:right;
  width: 10%;
  margin-top: 20px;
  padding-top: 10px;
  td {
    padding-right: 15px; padding-bottom: 10px;
  }
}

.admin_companies {
  display: inline-block; width: 85%;
}