%ul#settings-menu.settings-menu{ title: I18n.t('boss.reports.empty_settings_menu.title') }
  %li.settings-menu-buttons
    %button.btn.btn-small{ type: 'button', role: 'button', rel: 'close' }= t('close')