= label_tag :office_id, t('.office_filter')
= select_tag :office_id,  options_from_collection_for_select(current_company.offices, 'id', 'name', params[:office_id]), :prompt => t('all'), :class => 'filter_select', :data => { :param=> 'office_id', :filter => 1 }

= label_tag :user_id, t('.user_filter')
= select_tag :user_id,  options_from_collection_for_select(current_company.users.reject{ |u| u.role == 'admin' }, 'id', 'name_for_list', params[:user_id]), :prompt => t('all'), :class => 'filter_select', :data => { :param=> 'user_id', :filter => 1 }