.current_container
  .charts
    .chart-left
      #line_bar.chart{ data: { type: 'dateline', settings: @report.line_settings(:amount, @amount) } }
    .chart-right
      #line_bar.chart{ data: { type: 'dateline', settings: @report.line_settings(:amount, @offices) } }
