.current_container
  .charts
    .chart-left
      #amount_line.chart{ data: { type: 'dateline', settings: @report.line_settings(:amount, @amount) } }
    .chart-right
      #amount_by_offices_line.chart{ data: { type: 'dateline', settings: @report.line_settings(:amount, @amount_by_offices) } }
