.current_container
  .charts
    #count_line.chart{ data: { type: 'line', settings: @report.line_settings(@count) } }
    #count_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(@count) } }
