.field_wrapper
  - now_period = !params[:period].blank? ? params[:period] : 'month'
  = label_tag :period, t('.period')
  = select_tag :period, options_for_select(period_options, now_period), data: { param: 'period', filter: 1, default: now_period }