.current_container
  .charts
    .chart-left
      #count_line.chart{ data: { type: 'line', settings: @report.line_settings(@count) } }
    .chart-right
      #count_bar.chart{ data: { type: 'column', settings: @report.bar_settings(@count) } }
