= render partial: 'income_other_menu'
.field_wrapper
  - now_margin_types = !params[:margin_types].blank? ? params[:margin_types] : 'profit_acc'
  = label_tag :margin_types, t('.margin_type')
  = select_tag :margin_types, options_for_select(margin_options, now_margin_types), data: { param: 'margin_types', default: now_margin_types }