.current_container
  .charts
    - unless params[:show_bars] == '0'
      .chart-left
        - unless params[:show_items] == '0'
          #count_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:count, @count) } }
        - unless params[:show_amount] == '0'
          #amount_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:amount, @amount) } }
    - unless params[:show_pies] == '0'
      .chart-right
        - unless params[:show_items] == '0'
          #count_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:count, @count) } }
        - unless params[:show_amount] == '0'
          #amount_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:amount, @amount) } }
