.current_container
  .charts
    .chart-left
      #count_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:count, @count) } }
      #count_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:count, @count) } }
    .chart-right
      #amount_bar.chart{ data: { type: 'bar', settings: @report.bar_settings(:amount, @amount) } }
      #amount_pie.chart{ data: { type: 'pie', settings: @report.pie_settings(:amount, @amount) } }
