%ul#settings-menu.settings-menu{ title: I18n.t('boss.reports.repurchase_settings_menu.settings') }
  %li
    = label_tag :minim, I18n.t('boss.reports.repurchase_settings_menu.minim')
    = select_tag :minim, options_for_select(["1","2","3","4","5","6","7","8","9","10"], "3"), class: "minim", data: {param: "minim", filter: 1, default: "3"}
  %li.settings-menu-buttons
    %button.btn.btn-small.btn-primary{ type: 'button', role: 'button', rel: 'save' }= t('save')
    %button.btn.btn-small{ type: 'button', role: 'button', rel: 'close' }= t('close')