.field_wrapper
  = label_tag :minim, I18n.t('boss.reports.repurchase_settings_menu.minim')
  = select_tag :minim, options_for_select(["1","2","3","4","5","6","7","8","9","10"], "3"), class: "minim", data: {param: "minim", filter: 1, default: "3"}