- set_current_width(:small)

- title @title

- content_for :top do
  = render partial: 'filter', locals: { row_count: false, show_others_label: false, settings_menu: 'income_settings_menu' }

= render partial: 'income'