- set_current_width(:small)

- title t('.title')

- content_for :top do
  = render partial: 'filter', locals: { :period_selects => false, :row_count => false, :show_others_label => false, :settings_menu => 'income_settings_menu' }

= render partial: 'offices_income'