- tpd = tariff_plans_data
var tariffs = [], temp;
- tpd.each do |tariff|
  temp = [];
  temp.push(parseInt("#{tariff[0]}"));
  temp.push("#{tariff[1]}");
  temp.push(parseInt("#{tariff[2]}"));
  tariffs.push(temp);