%p
  На сайте
  %a{:href => "http://columbis.ru"} Columbis.ru
%p
  Пользователем
  = @resource.owner.try(:full_name) || @resource.owner.try(:login)
  создана новая компания
  = @resource.name || @resource.subdomain