%p
  С вашего почтового ящика была запрошена регистрация на сайте
  %a{:href => "http://columbis.ru"} Columbis.ru
%p
  Вы можете зайти на сайт, после подтверждения, используя логин: #{@resource.login} и пароль: #{@resource.password}. Вы можете изменить их на сайте.
%p
  Для того, чтобы подветрдить регистрацию, пожалуйста, перейдите по ссылке
  = link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :style => "font: bold 13px Arial; color:#0076be;"