%p
  Кто то сделал запрос на изменение вашего пароля, вы можете изменить его, перейдя по ссылке ниже
%p
  = link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  Если не вы делали запрос, можете просто игнорировать это письмо
%p
  Ваш пароль не будет изменен, пока вы не перейдете по ссылке и создадите новый
