- content_for(:body_class) { 'panel' }

- title t('.addresses')

- content_for :top do
  %form.filter
    = render 'shared/search_field'

= render 'list'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('.add_address'), new_address_path, :class => 'add_operator'
