%tr.more_info.first_row.full_claim_info
  %td
    %a.edit.active{href: "#"}
  %td Турист
  %td Направление
  %td Дата отправления
  %td Создатель
  %td Дата создания
  %td.last_row
%tr.more_info.second_row.full_claim_info
  %td{colspan: "2"}
    .more_info_block.tourist
      .top-section
        .pic
        %h4 {{applicant_last_name}}
        %p {{applicant_first_middle_name}}
      .bottom-section
        %table
          %tbody
            %tr
              %td.gray_text Тел.
              %td.right-col {{phone_number}}
            %tr
              %td.gray_text Виза
              %td.right-col
                %span.hl{class: '{{visa_color}}'} {{visa_text}}
            %tr
              %td.gray_text Срок
              %td.right-col
                %span.hl.hl-yellow {{visa_check}}
  %td
    .more_info_block.route
      .top-section
        .pic
        %h4 {{country_name}} {{resort_name}}
        %p {{operator}}
      .bottom-section
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Статус
              %td.right-col
                %span.hl.hl-green{class: '{{operator_confirmation_flag}}'} подтвержден
            %tr
              %td.gray_text №
              %td.right-col {{operator_confirmation}}
  %td
    .more_info_block.date-mib
      .top-section
        .pic
        %h4.clearfix {{arrival_date}}
        .pic1
        %h4 {{departure_date}}
      .bottom-section
        %p.gray_text Куда
        %p {{country_name}}
        %p.gray_text Откуда
        %p {{airport_back}}
  %td
    .more_info_block.creator
      .top-section
        .pic
        %h4 {{manager_last_name}}
        %p {{manager_login}}
      .bottom-section
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Офис
              %td.right-col {{office_name}}
            %tr
              %td.gray_text Документы
              %td.right-col
                %span.hl.hl-red{class: '{{documents_status}}'} {{documents_status}}
  %td.last-col{colspan: "2"}
    .more_info_block.create_date
      .top-section
        .pic
        %h4 {{reservation_date}}
        %p № {{num}}
      .bottom-section
        %p
          %span.gray_text Откуда
          {{tourist_stat}}
        %p{class: 'doc_note'} {{docs_note}}
%tr.more_info.third_row.full_claim_info
  %td.leftward{colspan: "2"}
    .more_info_block.price
      .top-section
        .pic
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Цена
              %td.right-col
                %h4 {{primary_currency_price}}
                руб.
            %tr
              %td.gray_text Аванс
              %td.right-col
                %h4 {{tourist_advance}}
                руб.
            %tr
              %td.gray_text Долг
              %td.right-col
                %h4 {{tourist_debt}}
                руб.
      %td.rightward
        .more_info_block.price
          .bottom-section
            .pic1
            %table
              %tbody
                %tr
                  %td.gray_text Сумма оператору
                  %td.right-col {{operator_price}}
                %tr
                  %td.gray_text Оплатить до
                  %td.right-col
                    %span.hl.hl-orange {{operator_maturity}}
                %tr
                  %td.gray_text Оплата
                  %td.right-col {{operator_advance}}
                %tr
                  %td.gray_text Долг оператору
                  %td.right-col {{operator_debt}}
  %td
    .more_info_block.money
      .top-section
        .pic
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Аванс
              %td.right-col
                %span.hl.hl-lightblue {{approved_advance_tourist}} руб.
            %tr
              %td.gray_text Оплата, $
              %td.right-col {{approved_advance_op_prim}}
            %tr
              %td.gray_text Оплата, руб.
              %td.right-col {{approved_advance_op}}
  %td
    .more_info_block.percents
      .top-section
        .pic
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Наценка
              %td.right-col
                %span.hl.hl-blue {{profit_acc}} руб.
            %tr
              %td.gray_text Наценка, %
              %td.right-col {{profit_in_percent_acc}}
  %td.last-col{colspan: "2"}
    .more_info_block.bonus
      .top-section
        .pic
        %table
          %tbody
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text  
              %td.right-col
            %tr
              %td.gray_text Наценка
              %td.right-col {{profit}} руб.
            %tr
              %td.gray_text Наценка, %
              %td.right-col {{profit_in_percent}}
%tr.more_info.fourth_row.full_claim_info
  %td{colspan: "7"}
    %a{href: "#", onclick: 'javascript: full_claim_hide()'}
      Свернуть
      %span