.widget.widget-small.widget-medium
  = render partial: 'boss/widgets/menu'
  .widget-title
    %h2= widget[:title]
  .widget-content
    .chart{ data: { type: 'bar', settings: report.bar_settings(data) } }