.widget-menu
  .widget-btn.widget-btn-type
    %a{ href: "#"} Тип
  .widget-btn.widget-btn-settings
    %a{ href: "#"} Настройки
  .widget-btn.widget-btn-delete
    %a{ href: "#"} Удалить
  .widget-btn.widget-btn-more
    %a{ href: "#"}