.widget.widget-large.widget-table
  = render partial: 'boss/widgets/menu'
  .widget-title
    %h2= widget[:title]
  .widget-content
    = render partial: "tourists/tourists", locals: { tourists: @tourists_widget[:data] }