- title @country.name

- content_for(:float_panel) do
  - if can? :update, @country
    = link_to t('edit'), edit_country_path(@country), :class => 'add_operator'
  - if can? :destroy, @country
    = link_to t('destroy'), @country, :confirm => t('are_you_sure'), :method => :delete, :class => 'delete_operator'
  = link_to t('list_of_countries'), countries_path, :class => 'list_operator'