- title "Airline"

%p
  %strong Name:
  = @airline.name

%p
  = link_to "Edit", edit_airline_path(@airline)
  |
  = link_to "Destroy", @airline, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", airlines_path
