%table.print_vars
  - @table.each do |value|
    - if value[1] != '.'
      %tr{class: value[0] != '' ? 'section_m' : '' }
        %td
          = value[0]
        %td
          = value[1]
        %td
          = value[2]