body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 11px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

ul  {
  list-style:none;
}

h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: gray;
}

#container {
  width: 1024px;
  margin: 0 auto;
  background-color: #eaf9dc;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-width: 1000px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 100%;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.clr {
  float: inherit;
}
#documents_to_print_menu ul {
  margin: 0;
}

#documents_to_print_menu ul li, #databases_menu ul li{
  display: inline;
  float: left;
}

#documents_to_print_menu ul, #databases_menu ul  {
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 10pt;
  padding: 0;
}

#documents_to_print_menu ul li a {
  padding: 7px 20px;
  background-color: #f6e7c0;
}


#documents_to_print_menu ul li a:hover {
  padding: 7px 20px;
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu ul li a.accountant_login {
  margin-left: 15px;
  background-color: #e7f6c0;
}

#documents_to_print_menu ul li a.accountant_login:hover {
  padding: 7px 20px;
  color: black;
  background-color: #f3982d;
}

#databases_menu ul {
  margin: 1px 0 0 30px;
}

#databases_menu ul li a {
  background-color: white;
  margin-right: 1px;
}

#databases_menu ul li a, #documents_to_print_menu ul li a  {
  border: 1px solid #5c1c03;
  color: black;
  text-decoration: none;
  display: block;
}

#databases_menu ul > li:first-child, #databases_menu ul li a, #databases_menu ul li a:hover  {
  padding: 0 5px;
}

#databases_menu ul li a:hover {
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu li a.selected, #databases_menu ul li a.selected {
  background-color: #f3982d;
}

#left_block {
  float: left;
  width: 545px;
}

.left_inside {
  float: left;
}

.left_inside .narrow {
  width: 80px;
}

#center_block {
  margin-left:545px;
  background: url('palm.png') 0px 246px no-repeat;
}

input[type="submit"] {
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 9pt;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 5px solid #cd0800;
  width: 150px;
  height: 35px;
  background-color: #fbfbfb;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 20px;
  color: blue;
  font-size: 8pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 200px;
  border: 1px solid #5c1c03;
}

table td  {
  text-align: center;
  font-style: italic;
}

table td.text_right {
  text-align: right;
}

table th .hint  {
  font-weight: normal;
  color: #da2c23;
  font-style: italic;
  font-size: 7pt;
}

#claims {
  border: 1px solid black;
  padding: 1px;
  font-size: 10px;
}

#claims th{
  background-color: yellow;
}

#container form input[type="text"].passport_series {
  width: 60px;
}

#container form input.narrow {
  width: 80px;
}

#container ul.hmenu li {
  display: inline;
}

#container table th {
  font-style: italic;
}

form .data_block {
  font-size: 8pt;
}

form .data_block th {
  font-weight: bold;
  font-style: italic;
}

#tour_price td  {
  padding: 2px;
  width: 80px;
}

#indicators {
  width: 140px;
}

#indicators td {
  text-align: left;
}

#indicators td.framed  {
  border: 1px solid #5c1c03;
}

#registration input{
  width:85px;
}

form .data_block input {
  height:20px;
  width: 100%;
}

form .data_block td.datepicker {
  width: 120px;
}

form .data_block input.datepicker {
  width: 100px;
}

#flights {
  width: 90%;
}

#flights td.text_right{
  width: 18%;
}

#arrival_date {
  width: 340px;
  float:right;
  margin-left:120px;
}

#currency_block {
  float:right;
}

#flights input.datetimepicker, #arrival_date input.datepicker{
  width: 85%;
}

#payments_in td.amount , #payments_out td.amount {
  width: 90px;
}

form .data_block input.narrow {
  width: 85px;
}

form .data_block .width_100 {
  width: 100px;
}

.red_back, .nothing_done {
  background-color: #ffc0c0;
}

.orange_back, .docs_got {
  background-color: #FFCC5F;
}

.green_back, .docs_sent {
  background-color: #C8F1AF;
}

.navy_back, .visa_approved {
  background-color: #96B1F0;
}

.blue_back, .passport_received {
  background-color: #88D9FF;
}

#container .red {
  color: red;
}

#container .invisible{
  display: none;
}

#container .tourist_debt{
  float:right;
  width: 50%;
}

.ui-autocomplete.ui-menu {
  width: 400px !important;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
