body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

ul  {
  list-style:none;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #eaf9dc;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-width: 1000px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#documents_to_print_menu ul {
  margin: 0;
}

#documents_to_print_menu ul li, #databases_menu ul li{
  display: inline;
  float: left;
}

#documents_to_print_menu ul, #databases_menu ul  {
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 11pt;
  padding: 0;
}

#documents_to_print_menu ul li a {	
  padding: 7px 20px;
  background-color: #f6e7c0;
}

#documents_to_print_menu ul li a:hover {	
  padding: 7px 20px;
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu ul li a.accountant_login {
  margin-left: 15px;
}

#databases_menu ul {
  margin: 1px 0 0 30px;
}

#databases_menu ul li a {	
  background-color: white;
  margin-right: 1px;
}

#databases_menu ul li a, #documents_to_print_menu ul li a  {
  border: 1px solid #5c1c03;
  color: black;
  text-decoration: none;
  display: block;
}

#databases_menu ul > li:first-child, #databases_menu ul li a, #databases_menu ul li a:hover  {
  padding: 0 5px;
}

#databases_menu ul li a:hover {	
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu li a.selected, #databases_menu ul li a.selected {
  background-color: #f3982d;
}

form input[type="submit"] {
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 11pt;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 5px solid #cd0800;
  width: 150px;
  height: 35px;
  background-color: #fbfbfb;
}

form input[type="text"], input[type="email"], input[type="password"] {
  height: 25px;
  color: blue;
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 200px;
}

table td  {
  text-align: center;
  font-style: italic;
}

table th .hint  {
  font-weight: normal;
  color: #da2c23;
  font-style: italic;
  font-size: 8pt;
}

#container form input[type="text"].passport_series  {
  width: 60px;
}

#container ul.hmenu li {
  display: inline;
}

#container table th  {
  font-style: italic;
}


