body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 10px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.left {
  float:left;
  padding:2em;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

ul  {
  list-style:none;
}

h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: gray;
}

#container {
  width: 90%;
  margin: 0 auto;
  background-color: #eaf9dc;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-width: 1000px;
}

#container select.small {
  font-size: 10px;
}
#container .wrapper {
  margin: 0 auto;
  width: 1100px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 100%;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 10px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 10px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.clr {
  float: inherit;
}
#documents_to_print_menu ul {
  margin: 0;
}

#documents_to_print_menu ul li, #databases_menu ul li{
  display: inline;
  float: left;
}

#documents_to_print_menu ul, #databases_menu ul  {
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 10pt;
  padding: 0;
}

#documents_to_print_menu ul li a {
  padding: 7px 20px;
  background-color: #f6e7c0;
}


#documents_to_print_menu ul li a:hover {
  padding: 7px 20px;
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu ul li a.accountant_login {
  margin-left: 15px;
  background-color: #e7f6c0;
}

#documents_to_print_menu ul li a.accountant_login:hover {
  padding: 7px 20px;
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu ul li.disabled {
  padding: 7px 20px;
  background-color: #f6e7c0;
  color: gray;
  border: 1px solid #5c1c03;
}

#databases_menu ul {
  margin: 1px 0 0 30px;
}

#databases_menu ul li a {
  background-color: white;
  margin-right: 1px;
}

#databases_menu ul li a, #documents_to_print_menu ul li a  {
  border: 1px solid #5c1c03;
  color: black;
  text-decoration: none;
  display: block;
}

#databases_menu ul > li:first-child, #databases_menu ul li a, #databases_menu ul li a:hover  {
  padding: 0 5px;
}

#databases_menu ul a:hover {
  color: black;
  background-color: #f3982d;
}

#documents_to_print_menu li a.selected, #databases_menu ul li a.selected {
  background-color: #f3982d;
}

#left_block {
  float: left;
  width: 545px;
}

.left_inside {
  float: left;
}

.left_inside .narrow {
  width: 80px;
}

#center_block {
  margin-left:545px;
}

#payments_block {
  margin-left:390px;
}

input[type="submit"], a.button_delete{
  font-style: italic;
  font-weight: bold;
  font-family: Arial,Times New Roman sans-serif;
  font-size: 9pt;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 5px solid #cd0800;
  width: 150px;
  height: 35px;
  background-color: #fbfbfb;
}

a.button_delete {
  text-decoration:none;
  color: black;
  padding: 4.5pt;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  height: 18px;
  color: blue;
  font-size: 8pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 190px;
  border: 1px solid #5c1c03;
}

#payments_in .hint, #payments_out .hint {
  font-weight: normal;
  color: #da2c23;
  font-style: italic;
  font-size: 7pt;
  padding: 20px;
  text-align: center;
}

table td  {
  text-align: center;
  font-style: italic;
}

table th.thick_border, table td.thick_border {
  border-left: solid 2px;
}

table td.text_right {
  text-align: right;
}

table td.text_left {
  text-align: left;
}

table th .hint  {
  font-weight: normal;
  color: #da2c23;
  font-style: italic;
  font-size: 7pt;
}

table th.id  {
  width:90px;
}

.bar {
  margin: auto;
  margin-bottom: 16px;
  width: 1000px;
}

.bar input{
  width: 60%;
}

.bar div {
  display: inline-block;
  border: 1px solid black;
  margin-left: 16px;
  padding: 4px;
}

.bar #full_value {
  margin-top: 8px;
  width: 100%;
}

#claims {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  background-color: #bde0fa;
}

#claims th{
  background-color: yellow;
  font-size: 9px;
}

#claims th.medium {
  width: 65px;
}

#claims th.w75 {
  width: 75px;
}

#claims th.w50px {
  width: 50px;
}

#claims th.w45px {
  width: 45px;
}

#claims th.last_cols {
  width: 14px;
}

#claims th.short_date {
  width: 35px;
}

#claims th.green_back{
  background-color: #9ACD32;
  padding: 4px;
}

#claims td {
  height: 20px;
    padding: 0px;
  margin: 0px;
}

#container form input[type="text"].passport_series {
  width: 60px;
}

#container form input.narrow {
  width: 80px;
}

#container ul.hmenu li {
  display: inline;
}

#container table th {
  font-style: italic;
}

form .data_block {
  font-size: 8pt;
}

form .data_block th {
  font-weight: bold;
  font-style: italic;
}

#tour_price {
  padding: 2px;
  width: 100%;
}

#tour_price td input.wide {
  width: 100px;
}

#tour_price td.amount {
  width: 80px;
}

#indicators {
  width: 140px;
}

#indicators td {
  text-align: left;
}

#indicators td.framed  {
  border: 1px solid #5c1c03;
}

#registration input{
  width:85px;
}

form .data_block input[type="text"] {
  width: 100%;
}

form .data_block input[type="checkbox"] {
  height:10px;
  width: 10px;
}

form .data_block td.datepicker {
  width: 120px;
}

form .data_block input.datepicker {
  width: 80px;
}

#claim_operator_confirmation {
  width: 120px;
}

#flights {
  width: 90%;
}

#flights td.text_right{
  width: 18%;
}

#palm_block {
  width: 100%;
}

#palm_block input.amount {
  width: 90px;
}

#flights input.datetimepicker, #arrival_date input.datepicker{
  width: 85%;
}

#payments_in td.amount , #payments_out td.amount {
  width: 90px;
}

#docs select {
  height: 20px;
  width: 100%;
}

.lamp_block {
  display: block;
  background: url(lamp.png);
  background-position:0% -36px;
  background-repeat:no-repeat;
  height: 36px;
  padding-left: 36px;
  padding-top: 10px;
}

form .data_block input.narrow {
  width: 85px;
}
#claim_course {
  width: 100px;
}

.red_back, .nothing_done, .hot, .not_ready, .received {
  background-color: #ed2222;
}

.orange_back, .docs_got, .soon {
  background-color: #ff8888;
}

.green_back, .docs_sent {
  background-color: #21d00c;
}

.navy_back, .visa_approved {
  background-color: #96B1F0;
}

.blue_back, .all_done, .departed {
  background-color: #bde0fa;
}

.gray_back {
  background-color: #ccc;
}

#container .red {
  color: red;
}

#container .invisible{
  display: none;
}

#container .tourist_debt{
  float:right;
  width: 50%;
}

#claim_docs_note {
  width: 532px;
}
#claim_calculation {
  width: 100%;
}

#claim_calculation, #claim_docs_note {
  color: blue;
  font-size: 8pt;
  font-weight: bold;
  font-style: italic;
  border: 1px solid #5c1c03;
  resize: none;
}

td.left{
  text-align: left;
}

.ui-autocomplete.ui-menu {
  width: 200px !important;
}

.color_sample {
  height: 20px;
  width:60px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.sort_span {
  display: inline;
  float: right;
  background: url(sort_button.png);
  background-position: top left;
  background-repeat:no-repeat;
  height: 12px;
  width: 12px;
}

.sort_span.asc {
  background-position: bottom left;
}

.sort_span.desc {
  background-position: 0px -12px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* UI jQuery Timepicker elements fixes */
.ui-datepicker .ui-datepicker-buttonpane { margin-top: 4em !important; }

/* css for will_paginate*/
.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-top:16px;
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
}
.pagination .disabled {
  color: #777;
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #990b00;
}
.pagination a {
  border: 1px solid black;
  color: black;
  background: #F6E7C0;
  text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
  border-color: black;
  background: #f3982d;
  color: black;
}
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.pagination .previous_page, .pagination .next_page {
  border-width: 1px;
}
.pagination .previous_page {
  margin-right: 1em;
}
.pagination .next_page {
  margin-left: 1em;
}

/* tooltip */
.tooltip {
  position: relative;
}

.tooltip span {
  position: absolute;
  right: 0;
  top: -30px;
  display: none;
  min-width: 50px;
  padding: 3px 8px;
  white-space: nowrap;
  font-size: 11px;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
}

.tooltip span small {
  position: absolute;
  right: 10px;
  bottom: -6px;
  border-top: 6px solid rgba(0,0,0,.8);
  border-left: 6px solid transparent;
}
.tooltip:hover span { display: block; }


/* for IE */
.tooltip span { background-color: #000; }
.tooltip span small { border-top: 6px solid #000; }

/* for IE 6 */
*html .tooltip span small {
  border-left: 6px solid #363636;
}

/* forIE 8 */
.tooltip span { background-color /*\**/: #000\9  }
.tooltip span small { border-top /*\**/: 6px solid #000; }
