/* jQuery UI styles */
.ui-helper-hidden, .ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0; /* support: IE7 */
  font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* Custom styles */
.ui-autocomplete {
  background-color: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  padding: 2px 0;
  max-height: 200px;
  max-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  .ui-menu-item a {
    border-radius: 0;
    padding: 2px 6px;
  }

  .ui-state-focus {
    // border: 1px solid #D5D5D5;
    // background-color: #F4F4F4;
    margin: -1px;
    border: 1px solid #4577BD;
    background-color: #4577BD;
    color: #FFFFFF;
  }
}