.button.green.add {
  background: url(/assets/new_design/images/add_operator.png) no-repeat;
  float: right;
  margin-left: 20px;
  padding: 9px 0 0 37px;
  text-shadow: #345a80 0px -1px 0px;
  width: 152px;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 14px;
}