.filter {
  .period {
    &.ik_select{ width: 82px; }
    .ik_select_link{ width: 80px; }
    .ik_select_link_text{ width: 65px; }
    .ik_select_list{ width: 78px !important; }
  }
  .row_count {
    &.ik_select{ width: 67px; }
    .ik_select_link{ width: 65px; }
    .ik_select_link_text{ width: 50px; }
    .ik_select_list{ width: 63px !important; }
  }
  // .show_others { padding-left: 19px; }
}

.charts {
  margin: 19px 0 20px;
  .chart-left { float: left; width: 45%; padding: 0 10px 0 0; }
  .chart-right { float: left; width: 45%; padding: 0 0 0 10px; }
  .chart { height: 500px; margin-bottom: 20px; }
}

.low_resolution {
  .charts {
    .chart-left, .chart-right { width: 480px; }
  }
}