.edit_menu {
  margin: 30px;
  a {display: inline-block; margin-right: 10px; color: #3F6DB7; font-family: Arial,Helvetica,sans-serif;}
  a.hidden {display: none;}
}

#cke_edit_content {
  margin: 0 30px 0 30px;
}

.empty_fields {
  margin: 20px 200px 0 200px;
}

