.reservations {
  min-height: 300px;
}

.middle_resoluition .reservations {
  width: 1536px;
}

.claims {
  overflow: auto;
  .reservations_wrapper {
    overflow: auto;
    margin: 19px 0 20px 0;
    border-left: 1px #d5d5d5 solid;
    border-right: 1px #d5d5d5 solid;
  }
}

.low_resoluition .claims .reservations_wrapper {
  width: 980px;
}

.middle_resoluition .claims .reservations_wrapper {
  width: 1534px;
}

.height_resoluition .claims .reservations_wrapper {
  width: 1843px;
}

.claims .reservations {
  font-size: 11px;
  margin: 0;
  width: 100% !important;
  th {
    &:first-child, &:last-child {
      border-left: none;
      border-right: none;
    }
  }
  td {
    padding: 5px 3px;
    &:first-child, &:last-child {
      border-left: none;
      border-right: none;
    }
  }
  th {
    min-width: 36px;
    &.double_sort span {
      &:first-child {
        margin-top: 2px;
      }
      margin: 5px 0;
      padding: 0 12px 0 4px;
      text-align: left;
    }
    span {
      color: #666666;
      display: block;
      padding-top: 21px;
      text-align: center;
      text-shadow: 0 1px 0 white;
    }
    a {
      padding: 21px 2px 0;
    }
    a.sort_active {
      font-weight: bold;
      /*color: #222222;
      text-decoration: underline;*/
      &.desc {
        background: url(/assets/new_design/images/sort_active_desc.gif) right center no-repeat;
      }
    }
  }

  .even td, .odd td { background: #FCFCFC; } // gray background used only for canceled claims

  // Ðžld coloring for claims
  tbody {
    .red_back, .nothing_done, .hot, .not_ready, .received {
      background-color: #ED2222 !important;
      color: black !important;
      span { color: black !important; }
    }

    .orange_back, .docs_got, .soon {
      background-color: #ff8888 !important;
      span { color: black !important; }
    }

    .green_back, .docs_sent {
      background-color: #21d00c !important;
      span { color: black !important; }
    }

    .navy_back, .visa_approved {
      background-color: #96B1F0 !important;
      span { color: black !important; }
    }

    .blue_back, .all_done, .departed {
      background-color: #bde0fa !important;
      span { color: black !important; }
    }

    .gray_back {
      background-color: #e0e0e0 !important;
      td { background-color: #e0e0e0 !important; }
    }
  }
}

.reservations th.double_sort a.sort_active.desc {
  background: url(/assets/new_design/images/sort_active_desc.gif) right center no-repeat;
}

.claims {
  .reservations {
    td {
      &.user_cell {
        background-image: none;
      }
      .attention {
        margin-left: 2px;
      }
    }
    th {
      &.short {
        max-width: 45px;
      }
      &.medium {
        max-width: 60px;
      }
      &.w75 {
        width: 75px;
      }
      &.w50px {
        width: 50px;
      }
      &.w45px {
        width: 45px;
      }
      &.last_cols {
        width: 25px;
      }
      &.short_date {
        width: 45px;
      }
    }
    td {
      p {
        min-height: 1em;
      }
      &.user_bg {
        background: none;
      }
    }
    span.colored {
      display: inline-block;
      margin: 0;
      position: static;
      vertical-align: baseline;
    }
    .id_link {
      text-decoration: none;
      color: inherit;
    }
    .bonus_percent {
      form {
        width: 100%;
      }
      input {
        width: 100%;
        padding: 0;
        border: none;
      }
    }
  }
  .sticky-element.stuck {
    position: fixed !important;
    top: 0 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: -1px;
  }
  .waypoint {
    height: 0;
    &.active {
      height: 25px;
      td {
        height: 25px;
        background: url(ajax-loader.gif) 50% 50% no-repeat transparent;
      }
    }
  }
}

/*
.reservations th a.active.asc { background: url("/assets/new_design/images/sort.png") no-repeat scroll right -5px transparent; }
.reservations th a.active.desc { background: url("/assets/new_design/images/sort.png") no-repeat scroll right 5px transparent; }
*/

/*.claim .red_back, .claim .nothing_done, .claim .hot,
.claim .not_ready, .claim .received { color: white !important; }*/

/* reset colors for options in selects with color classes */

option {
  color: black;
  background-color: white;
}

.due_date input {
  border-color: #D5D5D5;
}

.operator_currency {
  width: 28px;
}

.main_page {
  .type {
    .ik_select {
      width: 182px;
    }
    .ik_select_link {
      width: 180px;
    }
    .ik_select_link_text {
      width: 165px;
    }
    .ik_select_list {
      width: 178px;
    }
  }
  .total_years {
    &.ik_select {
      width: 67px;
    }
    .ik_select_link {
      width: 65px;
    }
    .ik_select_link_text {
      width: 50px;
    }
    .ik_select_list {
      width: 63px !important;
    }
  }
  .unset_filters {
    background: url("/assets/new_design/images/reset.png") no-repeat;
    color: #000;
    display: block;
    font-size: 11px;
    padding: 1px 0 4px 19px;
    text-shadow: white 0px 1px 0px;
    margin-right: 17px;
    float: left;
  }
  .settings {
    float: left;
    padding: 1px 0 4px 22px;
  }

  // Temporary solution for calims table
  .wrapper, .claims, .reservations_wrapper { overflow: visible; }
  .claims .reservations { margin-bottom: 171px; }
}

/*.main_page .filter .ik_select { width: 187px; }
.main_page .filter .ik_select_link { width: 180px; }
.main_page .filter .ik_select_link_text { width: 160px; }
.main_page .filter .ik_select_list { width: 178px; }

.main_page .filter fieldset { padding: 6px 0 0 17px; }

.edit_page .filter_select.ik_select { width: 187px; }
.edit_page .filter_select .ik_select_link { width: 180px; }
.edit_page .filter_select .ik_select_link_text { width: 160px; }
.edit_page .filter_select .ik_select_list { width: 178px; }*/

.edit_page {
  .form_column { margin: 0 !important; }
  .visa_status {
    &.ik_select {
      width: 122px !important;
      margin-right: 0px;
      margin-bottom: 4px;
    }
    .ik_select_link {
      width: 120px !important;
    }
    .ik_select_link_text {
      width: 95px !important;
    }
    .ik_select_list {
      width: 118px !important;
    }
  }
  .standart_select {
    &.ik_select {
      width: 157px;
    }
    .ik_select_link {
      width: 150px;
    }
    .ik_select_link_text {
      width: 135px;
    }
    .ik_select_list {
      width: 148px;
    }
  }
  .fields {
    &.destroyed { display: none; }
    &.disabled {
      input, .ik_select_link_text { color: #999; }
      a.delete { display: none; }
    }
  }
}

/* low_resolution */

.main_page .low_resolution .filter {
  .search {
    width: 150px;
  }
  .ik_select {
    width: 122px;
  }
  .ik_select_link {
    width: 120px;
  }
  .ik_select_link_text {
    width: 105px;
  }
  .ik_select_list {
    width: 118px;
  }
  .go_search, .ik_select {
    margin-right: 11px;
  }
  .settings {
    padding-left: 0px;
    width: 26px;
    height: 14px;
  }
}

.edit_page {
  .low_resolution {
    .filter {
      height: 132px;
      margin: 25px 0 0;
      .float_right {
        margin-left: 0;
      }
      label {
        margin-left: 14px;
        &:first-child {
          margin-left: 0;
        }
        &.checkbox {
          margin-left: 3px;
          &.right_checkbox {
            margin-left: 14px;
          }
        }
      }
      .filter_select {
        &.ik_select {
          width: 152px !important;
        }
        .ik_select_link {
          width: 150px !important;
        }
        .ik_select_link_text {
          width: 135px !important;
        }
        .ik_select_list {
          width: 148px !important;
        }
      }
      .float_right {
        display: block;
        float: right;
      }
    }
    .check_list {
      height: 132px;
    }
    .value_in_words {
      margin-left: 114px;
    }
    .delete {
      float: none;
    }

    #tourists {
      .address { margin: 0 0 11px 0; }
      .delete { float: right; margin: 4px 10px 0 0; }
    }

    .name { width: 205px; }
    .city, .hotel { width: 230px; }
    .meals { width: 150px; }
    .placement { width: 190px; }
    .airline { width: 230px; }
    .airport_to, .airport_back { width: 360px; }

    /* ik_selects */
    .flight_from_select.ik_select,.flight_from_select .ik_select_link{width: 235px;}
    .flight_from_select .ik_select_link_text{width: 220px;}/* -15 */
    .flight_from_select .ik_select_list{width: 232px;}/* -2 */

    .yellow_block .color_select.ik_select,.yellow_block .color_select .ik_select_link{width: 235px;}
    .yellow_block .color_select .ik_select_link_text{width: 220px;}/* -15 */
    .yellow_block .color_select .ik_select_list{width: 232px;}/* -2 */

    .green_block .color_select.ik_select,.green_block .color_select .ik_select_link{width: 235px;}
    .green_block .color_select .ik_select_link_text{width: 220px;}/* -15 */
    .green_block .color_select .ik_select_list{width: 232px;}/* -2 */

    .airline_select.ik_select,.airline_select .ik_select_link{width: 235px;}
    .airline_select .ik_select_link_text{width: 220px;}/* -15 */
    .airline_select .ik_select_list{width: 232px;}/* -2 */

    .tour_operator_select.ik_select,.tour_operator_select .ik_select_link{width: 212px;}
    .tour_operator_select .ik_select_link_text{width: 197px;}/* -15 */
    .tour_operator_select .ik_select_list{width: 210px;}/* -2 */

    .route_select.ik_select,.route_select .ik_select_link{width: 212px;}
    .route_select .ik_select_link_text{width: 197px;}/* -15 */
    .route_select .ik_select_list{width: 210px;}/* -2 */

    .resort_select.ik_select,.resort_select .ik_select_link{width: 205px;}
    .resort_select .ik_select_link_text{width: 190px;}/* -15 */
    .resort_select .ik_select_list{width: 203px;}/* -2 */

    .food_select.ik_select,.food_select .ik_select_link{width: 151px;}
    .food_select .ik_select_link_text{width: 136px;}/* -15 */
    .food_select .ik_select_list{width: 149px;}/* -2 */

    .medical_insurance_select.ik_select,.medical_insurance_select .ik_select_link{width: 152px;}
    .medical_insurance_select .ik_select_link_text{width: 137px;}/* -15 */
    .medical_insurance_select .ik_select_list{width: 150px;}/* -2 */

    .crossing_select.ik_select,.crossing_select .ik_select_link{width: 152px;}
    .crossing_select .ik_select_link_text{width: 137px;}/* -15 */
    .crossing_select .ik_select_list{width: 150px;}/* -2 */

    .placement_select.ik_select,.placement_select .ik_select_link{width: 202px;}
    .placement_select .ik_select_link_text{width: 187px;}/* -15 */
    .placement_select .ik_select_list{width: 200px;}/* -2 */

    .nights_select.ik_select,.nights_select .ik_select_link{width: 106px;}
    .nights_select .ik_select_link_text{width: 91px;}/* -15 */
    .nights_select .ik_select_list{width: 104px;}/* -2 */

    .big_airline_select.ik_select,.big_airline_select .ik_select_link{width: 369px;}
    .big_airline_select .ik_select_link_text{width: 354px;}/* -15 */
    .big_airline_select .ik_select_list{width: 367px;}/* -2 */

    .standart_select.ik_select,.standart_select .ik_select_link{width: 370px;}
    .standart_select .ik_select_link_text{width: 355px;}/* -15 */
    .standart_select .ik_select_list{width: 368px;}/* -2 */

    .first_number_visas_select.ik_select,.first_number_visas_select .ik_select_link{width: 95px;}
    .first_number_visas_select .ik_select_link_text{width: 80px;}/* -15 */
    .first_number_visas_select .ik_select_list{width: 93px;}/* -2 */

    .last_number_visas_select.ik_select,.last_number_visas_select .ik_select_link{width: 115px;}
    .last_number_visas_select.ik_select{margin-right: 0px;}
    .last_number_visas_select .ik_select_link_text{width: 100px;}/* -15 */
    .last_number_visas_select .ik_select_list{width: 113px;}/* -2 */

    .number_visas_select.ik_select,.number_visas_select .ik_select_link{width: 78px;}
    .number_visas_select .ik_select_link_text{width: 63px;}/* -15 */
    .number_visas_select .ik_select_list{width: 76px;}/* -2 */

    .payment_select.ik_select,.payment_select .ik_select_link{width: 196px;}
    .payment_select .ik_select_link_text{width: 181px;}/* -15 */
    .payment_select .ik_select_list{width: 194px;}/* -2 */

    .big_payment_select.ik_select,.big_payment_select .ik_select_link{width: 196px;}
    .big_payment_select .ik_select_link_text{width: 181px;}/* -15 */
    .big_payment_select .ik_select_list{width: 194px;}/* -2 */
  }
  .middle_resoluition {
    // .name { width: 236px; }
    .country, .resort { width: 150px; }
    .city { width: 195px; }
    .operator { width: 154px; }
    .hotel { width: 195px; }
    .meals { width: 104px; }
    .placement { width: 154px; }
    .airline { width: 200px; }
    .airport_to, .airport_back { width: 150px; }
    .tourist_stat { width: 200px; }
  }
  .high_resolution {
    .filter label {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.checkbox {
        margin-left: 3px;
        &.right_checkbox {
          margin-left: 14px;
        }
      }
    }
    .green_block .two_line:first-child .date {
      width: 68px !important;
    }
    .grey_block {
      margin-top: 25px;
      .fake_row .two_line + .two_line {
        margin-left: 17px;
      }
    }

    /* ik_selects */
    .price_select.ik_select,.price_select .ik_select_link{width: 66px;}
    .price_select .ik_select_link_text{width:  51px;}/* -15 */
    .price_select .ik_select_list{width: 64px;}/* -2 */

    .small_margin .number_visas_select.ik_select,.small_margin .number_visas_select .ik_select_link{width: 58px;}
    .small_margin .number_visas_select .ik_select_link_text{width:  43px;}/* -15 */
    .small_margin .number_visas_select .ik_select_list{width: 56px;}/* -2 */

    .flight_from_select.ik_select,.flight_from_select .ik_select_link{width: 147px;}
    .flight_from_select .ik_select_link_text{width: 132px;}/* -15 */
    .flight_from_select .ik_select_list{width: 145px;}/* -2 */

    .tour_operator_select.ik_select,.tour_operator_select .ik_select_link{width: 121px;}
    .tour_operator_select .ik_select_link_text{width: 106px;}/* -15 */
    .tour_operator_select .ik_select_list{width: 119px;}/* -2 */

    .route_select.ik_select,.route_select .ik_select_link{width: 153px;}
    .route_select .ik_select_link_text{width: 138px;}/* -15 */
    .route_select .ik_select_list{width: 151px;}/* -2 */

    .resort_select.ik_select,.resort_select .ik_select_link{width: 164px;}
    .resort_select .ik_select_link_text{width: 149px;}/* -15 */
    .resort_select .ik_select_list{width: 161px;}/* -2 */

    .yellow_block .color_select.ik_select,.yellow_block .color_select .ik_select_link{width: 190px;}
    .yellow_block .color_select .ik_select_link_text{width: 175px;}/* -15 */
    .yellow_block .color_select .ik_select_list{width: 188px;}/* -2 */

    .food_select.ik_select,.food_select .ik_select_link{width: 62px;}
    .food_select .ik_select_link_text{width: 47px;}/* -15 */
    .food_select .ik_select_list{width: 60px;}/* -2 */

    .medical_insurance_select.ik_select,.medical_insurance_select .ik_select_link{width: 91px;}
    .medical_insurance_select .ik_select_link_text{width: 76px;}/* -15 */
    .medical_insurance_select .ik_select_list{width: 89px;}/* -2 */

    .placement_select.ik_select,.placement_select .ik_select_link{width: 122px;}
    .placement_select .ik_select_link_text{width:  107px;}/* -15 */
    .placement_select .ik_select_list{width: 120px;}/* -2 */

    .airline_select.ik_select,.airline_select .ik_select_link{width: 190px;}
    .airline_select .ik_select_link_text{width: 175px;}/* -15 */
    .airline_select .ik_select_list{width: 188px;}/* -2 */

    .crossing_select.ik_select,.crossing_select .ik_select_link{width: 72px;}
    .crossing_select .ik_select_link_text{width:  57px;}/* -15 */
    .crossing_select .ik_select_list{width: 70px;}/* -2 */

    .documentation_select.ik_select,.documentation_select .ik_select_link{width: 176px;}
    .documentation_select .ik_select_link_text{width:  161px;}/* -15 */
    .documentation_select .ik_select_list{width: 174px;}/* -2 */

    .big_airline_select.ik_select,.big_airline_select .ik_select_link{width: 375px;}
    .big_airline_select .ik_select_link_text{width: 360px;}/* -15 */
    .big_airline_select .ik_select_list{width: 373px;}/* -2 */

    .payment_select.ik_select,.payment_select .ik_select_link{width: 93px;}
    .payment_select .ik_select_link_text{width: 78px;}/* -15 */
    .payment_select .ik_select_list{width: 91px;}/* -2 */

    .big_payment_select.ik_select,.big_payment_select .ik_select_link{width: 93px;}
    .big_payment_select .ik_select_link_text{width:  78px;}/* -15 */
    .big_payment_select .ik_select_list{width: 91px;}/* -2 */

    .payment_operator .price_select.ik_select,.payment_operator .price_select .ik_select_link{width: 75px;}
    .payment_operator .price_select.ik_select{margin-right: 5px;}
    .payment_operator .price_select .ik_select_link_text{width:  60px;}/* -15 */
    .payment_operator .price_select .ik_select_list{width: 73px;}/* -2 */
  }
}

/* high_resolution */
