.claims_list_new {
  .main_page {
    .filter { float: none; margin: 0; margin-top: 25px;}
    .wrapper h1 {  float: none;}
    //.unset_filters span, .settings span { padding-left: 20px; }
    .unset_filters { width: 120px; }
    .settings { width: 126px; }
    .wrapper {  width: auto;  padding: 0 23px;}

  }
  // .claims .reservations th {
  //  padding: 15px 0;
  // }
  .claims .reservations th, .claims .reservations td { font-size: 12px !important; line-height: 40px;  }
  .claims .reservations td { border: none; padding-left: 20px; }
  .claims .reservations { font-size: 12px;  border-bottom: 1px solid #CCCCCC;
    .last_row { padding-left: 10px; }
     th a { padding:0; }
     tr.row:hover td {  background: url("/assets/new_design/images/th_blue.png") repeat-x scroll left top rgba(0, 0, 0, 0) }
     .departure_date, .reservation_date { max-width: 200px; }
  }


  .edit { width: 14px; height: 14px; display: block; background: url('/assets/new_design/images/pen.png');
    &:hover { background: url('/assets/new_design/images/pen.png') -14px 0; }
    &.active { background: url('/assets/new_design/images/pen.png') -14px 0; }
  }
  .first_row { width: 16px; }
  .last_row { width: 40px;  }

  .tickers { width: 30px; height: 29px; display: block; background: url('/assets/new_design/images/tickers.png') no-repeat;  text-decoration: none !important;
    color: #FFFFFF !important;
      font-size: 13px;
      font-weight: bold;
      line-height: 14px;
      text-shadow: 0 -1px 0 #345A80;
      line-height: 30px;
      text-align: center;
    &.t-orange { background: url('/assets/new_design/images/tickers.png') no-repeat -29px 0; }
    &.t-yellow { background: url('/assets/new_design/images/tickers.png') no-repeat -58px 0; }
    &.t-green { background: url('/assets/new_design/images/tickers.png') no-repeat -87px 0; }
    &.t-blue { background: url('/assets/new_design/images/tickers.png') no-repeat -116px 0; }
    &.t-lightblue { background: url('/assets/new_design/images/tickers.png') no-repeat -145px 0; }
    &.t-gray { background: url('/assets/new_design/images/tickers.png') no-repeat -174px 0; }
  }
  .more_info {
    &.first_row td {background:  url("/assets/new_design/images/th_blue.png") repeat-x scroll left top rgba(0, 0, 0, 0); }
    background:  #d2dcee;

      .more_info_block {
        table { width: 100%;  }
        .top-section { background: #fafafa; border: solid 1px #d5d5d5; border-radius: 5px 5px 0 0; padding: 10px;  }
        .bottom-section { background: #f5f5f5; border: solid 1px #d5d5d5; border-top: none; border-radius: 0 0 5px 5px;  padding: 10px; }
        .pic { height: 18px; width: 20px; background: url("/assets/new_design/images/more_info_block_pic.png") no-repeat; display: block; margin-bottom: 10px;}
        .pic1 { float: left; height: 18px; width: 20px; display: block; margin-bottom: 10px;}
        &.tourist td.gray_text { width: 45px; }
        &.route td.gray_text { width: 60px; }
        &.creator td.gray_text { width: 77px; }
        &.route .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -18px no-repeat; }
        &.creator .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -70px no-repeat; }
        &.create_date {
          .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -90px no-repeat; }
          .gray_text { float: left; padding-right: 10px;}
        }

        &.money .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -147px no-repeat; }
        &.percents .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -166px no-repeat; }
        &.bonus .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -184px no-repeat; }
        &.date-mib {
          .pic { float: left; background: url("/assets/new_design/images/more_info_block_pic.png") 0 -53px no-repeat; padding-left: 10px; }
          .pic1 {  background: url("/assets/new_design/images/more_info_block_pic.png") 0 -36px no-repeat; padding-left: 10px; }

        }
        &.price {
          .pic { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -108px no-repeat; }
          .pic1 { background: url("/assets/new_design/images/more_info_block_pic.png") 0 -126px no-repeat; height: 20px; float: none; margin-bottom: 6px;}
          .top-section {  border-radius: 5px 0 0 5px;}
          h4 { float: left; padding-right: 10px;}
          .right-col  { padding-left: 20px; }
          .bottom-section {  border-radius: 0 5px 5px 0; border: solid 1px #d5d5d5; border-left:none; }

        }

        h4 { font-size: 18px; }
        td { padding: 0;
          span { color: #000; }
          .hl-red { color: #ac3939; }
          .hl-green { color: #398539;}
          .hl-lightblue { color: #3f6cb8; }
        }
        .gray_text { color: #666; }
        .right-col  { padding-left: 10px; }

      }
    .last-col {  padding-right: 20px; }
    &.second_row {
      td {line-height: 20px;}
    }
    &.third_row {
      td {line-height: 20px;  }
      .top-section { border-radius: 5px 5px 5px 5px; }
      .right-col { float: right; }
    .leftward { padding-right:0;  }
    .rightward { padding-left: 0; }

    }
    &.fourth_row {
      a { color: #666666; background: url("/assets/new_design/images/angle.png") no-repeat scroll right center rgba(0, 0, 0, 0); display: inline-block; padding-right: 15px;
        &:hover { text-decoration: none; }

      }

    }

  }
  .doc_note { width: 272px; overflow: hidden; min-height: 40px !important; white-space: pre-wrap; }
  .stuck div a { padding-top: 10px !important; }
  .hl { display: inline-block !important; padding: 0 5px;  }
  .hl-red {   border: solid 1px #ff96a7; background: url("/assets/new_design/images/hl-red.png");  }
  .hl-green {  border: solid 1px #b8e8ae; background: url("/assets/new_design/images/hl-green.png");   }
  .hl-yellow {   border: solid 1px #faeeb3; background: url("/assets/new_design/images/hl-yellow.png");   }
  .hl-orange {   border: solid 1px #f6c8a9; background: url("/assets/new_design/images/hl-orange.png");   }
  .hl-lightblue {   border: solid 1px #bbcce8; background: url("/assets/new_design/images/hl-lightblue.png");    }
}