.reservations { min-height: 300px; }
.middle_resoluition .reservations { width: 1536px; }

.reservations th { min-width: 36px; }

.reservations th.double_sort span:first-child {
    margin-top: 2px;
}
.reservations th.double_sort span {
    margin: 5px 0;
    padding: 0 12px 0 4px;
    text-align: left;
}
.reservations th span {
    color: #666666;
    display: block;
    padding-top: 21px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}

.reservations th a.sort_active {
  font-weight: bold;
  /*color: #222222;
  text-decoration: underline;*/
}

.reservations th a.sort_active.desc,.reservations th.double_sort a.sort_active.desc {
  background: url(/assets/new_design/images/sort_active_desc.gif) right center no-repeat;
}

.reservations td .attention { margin-left: 2px; }

/*
.reservations th a.active.asc { background: url("/assets/new_design/images/sort.png") no-repeat scroll right -5px transparent; }
.reservations th a.active.desc { background: url("/assets/new_design/images/sort.png") no-repeat scroll right 5px transparent; }
*/

.reservations th.medium { width: 65px; }
.reservations th.w75 { width: 75px; }
.reservations th.w50px { width: 50px; }
.reservations th.w45px { width: 45px; }
.reservations th.last_cols { width: 25px; }
.reservations th.short_date { width: 45px; }

.reservations td p {
  min-height: 1em;
}

.reservations td.user_bg { background: none; }

.reservations span.colored {
  display: inline-block;
  margin: 0;
  position: static;
  vertical-align: baseline;
}

.reservations .id_link { text-decoration: none; color: inherit; }
.reservations .bonus_percent form { width: 100%; }
.reservations .bonus_percent input { width: 100%; padding: 0; border: none; }

/*.claim .red_back, .claim .nothing_done, .claim .hot,
.claim .not_ready, .claim .received { color: white !important; }*/

/* reset colors for options in selects with color classes */
option {
  color: black;
  background-color: white;
}

.due_date input {
  border-color: #D5D5D5;
}

.main_page .type .ik_select { width: 180px; }
.main_page .type .ik_select_link { width: 180px; }
.main_page .type .ik_select_link_text { width: 165px; }
.main_page .type .ik_select_list { width: 178px; }

/* visa status select */
.visa_status.ik_select{ width: 120px !important; margin-right: 0px; margin-bottom: 4px; }
.visa_status .ik_select_link{width: 120px !important;}
.visa_status .ik_select_link_text{width: 95px !important;}
.visa_status .ik_select_list{width: 118px !important;}

.operator_currency { width: 28px; }

.total_years.ik_select{ width: 67px; }
.total_years .ik_select_link{width: 65px;}
.total_years .ik_select_link_text{width: 50px;}
.total_years .ik_select_list{width: 63px !important;}

.unset_filters{
  background: url("/assets/new_design/images/reset.png") no-repeat;
  color: #000;
  display: block;
  font-size: 11px;
  padding: 1px 0 4px 19px;
  text-shadow: #fff 0px 1px 0px;
  margin-right: 17px;
  float: left;
}

.settings { float: left; padding: 1px 0 4px 22px; }

.main_page .filter fieldset { padding: 6px 0 0 17px; }

/* low_resolution */
.main_page .low_resolution .filter .search { width: 150px; }
.main_page .low_resolution .filter .ik_select { width: 120px; }
.main_page .low_resolution .filter .ik_select_link { width: 120px; }
.main_page .low_resolution .filter .ik_select_link_text { width: 105px; }
.main_page .low_resolution .filter .ik_select_list { width: 118px; }
.main_page .low_resolution .filter .go_search { margin-right: 11px; }
.main_page .low_resolution .filter .ik_select { margin-right: 11px; }
.main_page .low_resolution .filter .settings { padding-left: 0px; width: 26px; height: 14px; }

.edit_page .low_resolution .filter .float_right { margin-left: 0; }
.edit_page .low_resolution .filter label { margin-left: 14px; }
.edit_page .low_resolution .filter label:first-child { margin-left: 0; }
.edit_page .low_resolution .filter label.checkbox { margin-left: 3px; }
.edit_page .low_resolution .filter label.checkbox.right_checkbox { margin-left: 14px; }
.edit_page .low_resolution .filter .filter_select.ik_select, .edit_page .low_resolution .filter .filter_select .ik_select_link {
    width: 150px !important;
}
.edit_page .low_resolution .filter .filter_select .ik_select_link_text {
    width: 135px !important;
}

/* high_resolution */
.edit_page .high_resolution .filter label { margin-left: 10px; }
.edit_page .high_resolution .filter label:first-child { margin-left: 0; }
.edit_page .high_resolution .filter label.checkbox { margin-left: 3px; }
.edit_page .high_resolution .filter label.checkbox.right_checkbox { margin-left: 14px; }
.edit_page .high_resolution .green_block .two_line:first-child .date {
    width: 68px !important;
}
.edit_page .high_resolution .grey_block .fake_row .two_line + .two_line { margin-left: 17px; }