/*
*= require claims
*= require company
*= require tourists
*/

body, input, textarea {
  font-size: 12px;
}

.clear { clear: both; }

.header { overflow: visible; }

/* Redefinition styles of new design */
.logout {
    width: auto;
    padding-left: 19px;
}

/*.reservation .dropdown-li li {
  background: url("/assets/new_design/images/html.png") repeat-x scroll left top transparent;
}

.reservation .dropdown-li li a, .reservation .dropdown-li li span {
  background: none;
}

.reservation .dropdown-li li a:hover {
  background: url("/assets/new_design/images/reservation_hover.png") no-repeat scroll left top transparent;
}

.reservation .dropdown-li li span {
  color: #CCC;
  display: block;
  font-size: 13px;
  height: 33px;
  line-height: 14px;
  padding: 15px 21px 0 19px;
  text-align: center;
  text-shadow: 0 -1px 0 #004D6E;
}*/

.reservation li.dropdown ul li span {
    display: block;
    font-size: 13px;
    line-height: 14px;
    background: none repeat scroll 0 0 transparent;
    color: #CCC;
    height: auto;
    padding: 5px 0 7px;
    text-align: left;
    text-shadow: 0 -1px 0 #FBFBFB;
}

.databases li span {
    background: url("/assets/new_design/images/databases_border.png") no-repeat scroll right center transparent;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    height: 33px;
    line-height: 14px;
    padding: 15px 22px 0 17px;
    text-align: center;
    text-shadow: 0 -1px 0 #000000;
}

.databases li.dropdown ul {
  top: 48px; /* fix dropdown blinking */
}

.user_panel {
    background: url("/assets/new_design/images/reservation_border.png") no-repeat scroll left top transparent;
    padding-left: 10px;
}

.user_panel li { background-position: right top; }

.red_back, .nothing_done, .hot, .not_ready, .received {
  /*background: url(/assets/new_design/images/red_box.png) right repeat-x !important;*/
  background: #FCE8E9 !important;
  color: #990000 !important;
}

.orange_back, .docs_got, .soon {
  /*background: url(/assets/new_design/images/sand_box.png) right repeat-x #ff8888 !important;*/
  background: #f1e3d0 !important;
}

.green_back, .docs_sent {
  /*background: url(/assets/new_design/images/green_box.png) right repeat-x !important;*/
  background: #E7F9E9 !important;
}

.navy_back, .visa_approved {
  /*background: url(/assets/new_design/images/blue_box.png) right repeat-x #96B1F0 !important;*/
  background: #edf4fa !important;
}

.blue_back, .all_done, .departed {
  /*background: url(/assets/new_design/images/dark_blue_box.png) right repeat-x #BDE0FA !important;*/
  background: #e6eff8 !important;
}

.gray_back {
  /*background: url(/assets/new_design/images/grey_box.png) right repeat-x !important;*/
  background: #e0e0e0 !important;
}

.ui-datepicker { display: none; }

/*.wrapper h1 {
  margin: 4px 0;
}

.wrapper h2 {
  font-size: 15px;
  line-height: 16px;
  margin: 8px 0;
}

.wrapper h3 {
  font-weight: bold;
  margin: 4px 0;
}*/

.footer { min-height: 100px; }

/*** Colors ***/
.orange{color: #cc3300;}
.purple{color: #6666ff;}
.turquoise{color: #009999;}
.light_orange{color: #ff6600;}
.green{color: #006600;}
.red{color: #990000; text-shadow: #fff 0px 1px 0px;}
/*** END Colors ***/

/*** Tables ***/
.table {
  background-color: #fff;
  font-size: 11px;
}
  .table th{
    background: url(/assets/new_design/images/th.png) repeat-x left #CCCCCC;
    border: 1px #d5d5d5 solid;
    height: 67px;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #666;
    text-shadow: #fff 0px 1px 0px;
  }
    .table th.sort a{
      background: url(/assets/new_design/images/sort.png) right top no-repeat;
      color: #666;
      display: block;
      padding-top: 21px;
      text-align: center;
      text-shadow: #fff 0px 1px 0px;
    }
    .table th.double_sort { vertical-align: middle; }
    .table th.double_sort a{
      background-position: right 2px;
      padding: 0px 12px 0px 4px;
      margin: 5px 0;
      text-align: left;
    }
    .table th.double_sort a:first-child {margin-top: 2px;}

    .table th.sand_box{background: url(/assets/new_design/images/sand_box.png) right no-repeat;}
    .table th.blue_box{background: url(/assets/new_design/images/blue_box.png) right no-repeat;}
    .table th.purple_box{background: url(/assets/new_design/images/purple_box.png) right no-repeat;}
      .table th.purple_box a{
        color: #666b99;
        padding-top: 16px;
      }
    .table th.purple_box.three_lines a{padding-top: 9px;}
    .table th.green_box{background: url(/assets/new_design/images/green_box.png) right no-repeat;}
      .table th.green_box a{
        color: #587d57;
        padding-top: 16px;
      }
  .table td{
    background: none;
    border: 1px #d5d5d5 solid;
    height: 52px;
    padding: 0 4px;
    vertical-align: middle;
  }
  .table .odd td { background: url(/assets/new_design/images/grey_box.png) right no-repeat; }
  .table tr td.red_box{background: url(/assets/new_design/images/red_box.png) right no-repeat;}
  .table tr td.chlorine_box{background: url(/assets/new_design/images/chlorine_box.png) right no-repeat;}
  .table tr td.purple_box{background: url(/assets/new_design/images/purple_box.png) right no-repeat;}
  .table tr td.dark_blue_box{background: url(/assets/new_design/images/dark_blue_box.png) right no-repeat;}
    .table td a{
      color: #000;
      text-decoration: underline;
    }
    .table td a:hover{text-decoration: none;}
    .table td span{
      color: #666;
    }
    .table td span.red{color: #990000; text-shadow: #fff 0px 1px 0px;}
    .table td span,.table td p{
      display: block;
      margin: 4px 0;
    }

.reservations.tour_operators th { max-width: 350px; }
.reservations th a.sort_active, .reservations th.double_sort a.sort_active {
    background-position: right top !important;
}
/*** END Tables ***/

div.left {
  float: left;
  margin-right: 2em;
}

/*** Float panel ***/
.panel_content button, .panel_content input {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 14px;
}
/*** END Float panel ***/

/*** Filter bar ***/
.small_filter { width: 150px !important; }
.filter_margin { margin-right: 17px !important; }
/*** END Filter bar ***/

/*** ikSelect ***/
.ik_select_disabled { color: #999; }
.ik_select_editable .ik_select_link_inner { margin: 0 30px 0 5px; }
.ik_select_editable .ik_select_link_text {
    border: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
}
/*** END ikSelect ***/

/*** highlighted ***/
.highlighted { margin-right: 0; margin-bottom: 6px; }
.highlighted .ik_select { margin-right: 0; }
.highlighted + label { margin-left: 0 !important; }
.form_column .highlighted,
.filter .highlighted.select, .two_line .highlighted.select { margin-right: 17px; }
.highlighted.last { margin-right: 0 !important; }
/*** END highlighted ***/

/*** forms ***/
.fake_row .error_message {
  display: inline-block;
  float: none !important;
}
.fake_row .error_message .errors {
  color: #990000;
  margin: -6px 0 11px;
  font-size: 13px;
  line-height: 14px;
  height: 14px;
  text-shadow: 0 1px 0 #FFFFFF;
  display: block;
  float: none;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  */
}
.fake_row .two_line p label { margin: 0; }
.fake_row .ik_select { margin-bottom: 11px; }
.fake_row textarea { height: 41px; }
.address_input { width: 266px; } /* default styles of adress fields */
/*** END forms ***/

/*** messages ***/
.messages {
  overflow: hidden;
}
.messages .alert {
  line-height: 20px;
  font-size: 13px;
  line-height: 16px;
  padding-right: 45px;
}
.messages .alert .close {
  /* original styles */
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
  /* end original styles */
  /*top: 0;*/
  right: -31px;
}
.messages .alert h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.messages .alert ul li {
  margin-left: 24px;
  list-style: disc outside none;
}
/*** END messages ***/
