.company .list_select.ik_select, .company .list_select .ik_select_link {
  width: 160px;
}
.company .list_select .ik_select_link_text{width: 145px;}/* -15 */
.company .list_select .ik_select_list{width: 158px;}/* -2 */

.company .country_select.ik_select, .company .country_select .ik_select_link {
  width: 150px;
}
.company .country_select .ik_select_link_text{width: 135px;}/* -15 */
.company .country_select .ik_select_list{width: 148px;}/* -2 */

.company .new_file_form {
  position: relative;
  min-height: 70px;
}
.company .new_file_form + .new_file_form { margin-top: 10px; }
.company .new_file_form .list_select.ik_select {
  left: 140px;
  top: 20px;
}
.company .new_file_form .country_select.ik_select {
  left: 322px;
  position: absolute;
  top: 20px;
}
.company .new_file_form .file {
  top: 20px;
}
.company .new_file_form label {
  color: #666666;
  font-size: 12px;
  height: 20px;
  line-height: 13px;
}
.company .new_file_form .mode_label {
  left: 140px;
  position: absolute;
  top: 0px;
}
.company .new_file_form .country_select.ik_select { display: none; }
.company .new_file_form .country_label {
  display: none;
  left: 322px;
  position: absolute;
  top: 0px;
}
.company .new_file_form .file .file_holder {
  padding-top: 8px;
  width: 335px;
  height: 17px;
}
.company .new_file_form .delete {
    position: absolute;
    right: 20px;
    top: 20px;
}
.company .file_block .add_file {
    padding: 4px 0 0 21px;
    width: 96px;
}

.company .address_input { width: 183px; }
.company .office_input { width: 160px; }
.company .highlighted .office_input { width: 156px; }

.company .edit_file_form {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0 10px 0 8px;
  width: 262px;
}
.company .edit_file_form .select_file {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
}
.company .edit_file_form .file {
  display: inline-block;
  float: none;
  width: 245px;
}
.company .edit_file_form .file input {
  width: 245px;
  left: -20px;
}