.form_block-large {
  .fake_table {
    .list { width: 300px; }
    .value { width: 533px; }
    .total { margin-left: 21px; }
  }
  .fake_row {
    .total { margin-left: 21px; }
  }
}

.dropdown_value_form {
  .error_message { display: inline-block; }
}
