.middle_resoluition .tourists .passport span+span{

  border-left: 2px solid #D5D5D5;
}
.middle_resoluition .tourists .passport {
  padding: 0;
  width: auto !important;

}
.middle_resoluition .tourists th.colspan span{
  width: 49%;
  padding: 10px 0;
}
.middle_resoluition .tourists th.colspan a{
  padding-bottom: 10px;
  border-bottom: 1px solid #D5D5D5;
}



.middle_resoluition .reservations .delete {

    margin-top: 2px;
}
.middle_resoluition .reservations .edit_row {

    margin-left: 10px;
}
.middle_resoluition .reservations .lock {
    margin-left: 25px;

}
.middle_resoluition .reservations .power {
    margin-left: 18px;
}
.middle_resoluition .reservations td:last-child a {
    float: left;
    margin: 0;
}
.middle_resoluition .reservations td:last-child a + a {
    margin-left: 15px;
}





.high_resolution .reservations .delete {

    margin-top: 2px !important;
}
.high_resolution .reservations .edit_row {

    margin-left: 10px !important;
}
.high_resolution .reservations .lock {
    margin-left: 25px  !important;

}
.high_resolution .reservations .power {
    margin-left: 18px !important;
}
.high_resolution .reservations td:last-child a {
    float: left;
    margin: 0;
}
.high_resolution .reservations td:last-child a + a {
    margin-left: 15px;
}

.high_resolution  .tourists .passport span+span{

  border-left: 2px solid #D5D5D5;
}
.high_resolution  .tourists .passport {
  padding: 0;
  width: auto !important;

}
.high_resolution  .tourists th.colspan span{
  width: 49%;
  padding: 10px 0;
}
.high_resolution  .tourists th.colspan a{
  padding-bottom: 10px;
  border-bottom: 1px solid #D5D5D5;
}
.high_resolution  .reservations tr td.dark_blue_box {
    background: url("/assets/new_design/images/dark_blue_box.png") repeat scroll right top transparent;
}