.navigation {
  background-color: #d6d6d6;
  margin-top: 8px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #f5f5f5;
  height: 30px;
  padding: 10px 23px;
  ul {
    li {
      display: inline-block;
      a {
        color: #fff;
        display: inline-block;
        text-shadow: #333 0px -1px 0px;
        font-weight: bold;
        background-color: #7e7e7e;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e7e7e), color-stop(100%, #606060));
        background-image: -webkit-linear-gradient(#7e7e7e, #606060);
        background-image: linear-gradient(#7e7e7e, #606060);
        
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        &:hover, &.active {
          background-color: #5c9bd0;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c9bd0), color-stop(100%, #406fb7));
          background-image: -webkit-linear-gradient(#5c9bd0, #406fb7);
          background-image: linear-gradient(#5c9bd0, #406fb7);
        }
      }
      &:first-child a {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child a {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}