// Place all the styles related to the Printers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.reservations.tour_operators .activity{
  width: 100px;
  .download{
    margin: 0px 0 0 15px;
  }
  .edit_row{
    margin: 0px 0 0 16px;
  }
  .delete{
    margin: 1px 0 0 15px;
  }
}