
html {background: none;}

body.public {
  .logo {float: none; margin: 0 auto; padding-right: 30px;}
  .header {height:50px; background: url("/assets/new_design/images/header_top.png") repeat-x}
  background: url("/assets/new_design/images/header_top.png") repeat-x scroll center top #e7e7e7;
  .wrapper {
    width: 100%;
    padding-left:0;
     .content {
      text-align: center;
      form {display: inline-block;}
     }
  }
  .submit_row { line-height: 30px; }
  .links {
    a { display: block; }
    .sign_in, .sign_up { float: left; margin-right: 10px; }
    .confirmation { width: auto; }
  }
  .messages { width: 320px; display: inline-block; }
}