#cat_1 {width: 280px; height: 268px; background: url("/assets/start_trip/cats.png") no-repeat 0 0; z-index: 15;}
#cat_2 {width: 280px; height: 268px; background: url("/assets/start_trip/cats.png") no-repeat -290px 0; z-index: 15;}