@charset 'utf-8';
@import url(reset.css);
html{background: #f4f4f4 url(../images/html.png) top repeat-x;}
.header{
	height: 100px;
	overflow: hidden;
	width: 1510px;
}
	.reservation{
		float: left;
	}
		.reservation li,.user_panel li{
			float: left;
			height: 48px;
		}
			.reservation li a{
				background: url(../images/reservation_border.png) right no-repeat;
				color: #fff;
				display: block;
				font-size: 13px;
				height: 33px;
				line-height: 14px;
				padding: 15px 21px 0 19px;
				text-align: center;
				text-shadow: #004d6e 0px -1px 0px;
			}
				.reservation li a:hover{background: url(../images/reservation_hover.png) right no-repeat;}
				.reservation li.active a{
					background: url(../images/reservation_active.png) right no-repeat;
					color: #006591;
					font-weight: bold;
					text-shadow: none;
				}
	.user_panel{
		float: right;
	}
		.user_panel li{
			background: url(../images/reservation_border.png) right no-repeat;
			color: #fff;
			font-size: 13px;
			height: 33px;
			line-height: 14px;
			padding: 15px 21px 0 10px;
			text-align: center;
				text-shadow: #004d6e 0px -1px 0px;
		}
			.user_panel li span{
				background: url(../images/user_ico.png) left bottom no-repeat;
				display: block;
				margin-left: -10px;
				padding-left: 19px;
			}
			.user_panel li a{
				color: #fff;
				text-decoration: underline;
			}
				.user_panel li a:hover{text-decoration: none;}
				.logout{
					background: url(../images/logout.png) no-repeat;
					display: block;
					height: 17px;
					margin-right: -10px;
					width: 14px;
				}
	.databases{
		float: left;
		margin-top: 1px;
	}
		.databases li{
			float: left;
			height: 48px;
		}
			.databases li a{
				background: url(../images/databases_border.png) right no-repeat;
				color: #fff;
				display: block;
				font-size: 13px;
				height: 33px;
				line-height: 14px;
				padding: 15px 22px 0 17px;
				text-align: center;
				text-shadow: #000 0px -1px 0px;
			}
	.type{
		float: right;
		margin-top: 13px;
	}
		.type p{
			color: #fff;
			display: inline-block;
			font-size: 13px;
			line-height: 14px;
			margin: 3px 9px 0 0;
			text-shadow: #000 0px -1px 0px;
		}
/*** Wrapper ***/
.wrapper{
	margin-top: 18px;
	overflow: hidden;
	padding-left: 23px;
	width: 1487px;
}
	.wrapper h1{
		float: left;
		font-size: 21px;
		line-height: 22px;
		margin-top: 4px;
		text-shadow: #fff 0px 1px 0px;
	}
/*** END wrapper ***/
/*** Filter ***/
.filter{
	background: #e0e0e0;
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: -o-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: linear-gradient(to bottom,  #e0e0e0 0%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e3e3e3',GradientType=0 );
	border-bottom: 1px #f5f5f5 solid;
	border-left: 1px #d1d1d1 solid;
	border-right: 1px #d1d1d1 solid;
	border-top: 1px #c2c2c2 solid;
	border-radius: 4px;
	float: right;
	height: 28px;
	padding: 3px 21px 0 20px;
}
	.filter label{
		display: inline-block;
		font-size: 11px;
		line-height: 12px;
		margin: 6px 7px 0 0;
		text-shadow: #fff 0px 1px 0px;
	}
	.search{
		border: 1px #d5d5d5 solid;
		border-radius: 3px 0 0 3px;
		height: 20px;
		padding: 0 0 0 6px;
		width: 150px;
	}
	.go_search{
		background: url(../images/search.png) no-repeat;
		border: 1px #d5d5d5 solid;
		border-radius: 0px 3px 3px 0;
		height: 22px;
		margin: 0 17px 0 -5px;
		width: 23px;
	}
	.filter fieldset{
		background: url(../images/filter_border.png) no-repeat;
		float: right;
		height: 24px;
		margin-top: -3px;
		padding: 7px 0 0 23px;
	}
		.settings{
			background: url(../images/settings.png) no-repeat;
			color: #000;
			display: block;
			font-size: 11px;
			padding: 1px 0 4px 26px;
			text-shadow: #fff 0px 1px 0px;
		}
/*** END filter ***/
.reservations{
	background-color: #fff;
	border-radius: 3px 3px 0 0;
	font-size: 11px;
	margin: 19px 0 20px 0;
	width: 1484px;
}
	.reservations th{
		background: url(../images/grey_box.png) right no-repeat;
		border: 1px #d5d5d5 solid;
		height: 67px;
		padding: 5px 0px 0 0;
		text-align: center;
	}
		.reservations th a{
			background: url(../images/sort.png) right top no-repeat;
			color: #666;
			display: block;
			padding-top: 21px;
			text-align: center;
			text-shadow: #fff 0px 1px 0px;
		}
	.reservations th.double_sort{vertical-align: middle;}
		.reservations th.double_sort a{
			background-position: right 2px;
			padding: 0px 12px 0px 4px;
			margin: 5px 0;
			text-align: left;
		}
			.reservations th.double_sort a:first-child{margin-top: 2px;}
.reservations th.sand_box{background: url(../images/sand_box.png) right no-repeat;}
.reservations th.blue_box{background: url(../images/blue_box.png) right no-repeat;}
.reservations th.purple_box{background: url(../images/purple_box.png) right no-repeat;}
	.reservations th.purple_box a{
		color: #666b99;
		padding-top: 16px;
	}
	.reservations th.purple_box.three_lines a{padding-top: 9px;}
.reservations th.green_box{background: url(../images/green_box.png) right no-repeat;}
	.reservations th.green_box a{
		color: #587d57;
		padding-top: 16px;
	}
	.reservations td{
		background: url(../images/grey_box.png) right no-repeat;
		border: 1px #d5d5d5 solid;
		height: 52px;
		padding: 0 4px;
		vertical-align: middle;
	}
		.reservations .odd td{background: none;}
		.reservations tr td.red_box{background: url(../images/red_box.png) right no-repeat;}
		.reservations tr td.chlorine_box{background: url(../images/chlorine_box.png) right no-repeat;}
		.reservations tr td.purple_box{background: url(../images/purple_box.png) right no-repeat;}
		.reservations tr td.dark_blue_box{background: url(../images/dark_blue_box.png) right no-repeat;}
		.reservations td a{
			color: #000;
			text-decoration: underline;
		}
		.reservations td span{
			color: #666;
		}
		.reservations td span,.reservations td p{
			display: block;
			margin: 4px 0;
		}
			.reservations td a:hover{text-decoration: none;}
			.orange{color: #cc3300;}
			.purple{color: #6666ff;}
			.turquoise{color: #009999;}
			.light_orange{color: #ff6600;}
			.green{color: #006600;}
			.red,.reservations td span.red{color: #990000; text-shadow: #fff 0px 1px 0px;}
		.attention{
			background: url(../images/attention.png) left bottom no-repeat;
			display: block;
			height: 12px;
			margin-left: 2px;
			width: 15px;
		}
		.edit_row{
			background: url(../images/attention.png) -28px 0 no-repeat;
			display: block;
			height: 14px;
			margin-left: 2px;
			width: 14px;
		}
/*** Pagination ***/
.pagination{
	background: #e0e0e0;
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: -o-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#e3e3e3 100%);
	background: linear-gradient(to bottom,  #e0e0e0 0%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e3e3e3',GradientType=0 );
	border-bottom: 1px #f5f5f5 solid;
	border-left: 1px #d1d1d1 solid;
	border-right: 1px #d1d1d1 solid;
	border-top: 1px #c2c2c2 solid;
	border-radius: 4px;
	float: left;
	height: 27px;
	margin-right: 20px;
	padding: 4px 5px 0 5px;
}
	.pagination p{
		display: inline-block;
		font-size: 11px;
		line-height: 12px;
		margin: 4px 7px 0 0;
		text-shadow: #fff 0px 1px 0px;
	}
	.pagination ul li{
		color: #d5d5d5;
		float: left;
		font-size: 11px;
		line-height: 12px;
		margin: 0 1px;
	}
		.pagination li span{
			background: #fafafa;
			background: -moz-linear-gradient(top,  #fafafa 0%, #f0f0f0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f0f0f0));
			background: -webkit-linear-gradient(top,  #fafafa 0%,#f0f0f0 100%);
			background: -o-linear-gradient(top,  #fafafa 0%,#f0f0f0 100%);
			background: -ms-linear-gradient(top,  #fafafa 0%,#f0f0f0 100%);
			background: linear-gradient(to bottom,  #fafafa 0%,#f0f0f0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f0f0f0',GradientType=0 );
			border: 1px #d5d5d5 solid;
			border-radius: 3px;
			display: block;
			height: 16px;
			padding: 4px 15px 0 15px;
		}
			.pagination li span.active{
				background: #148cbc;
				background: -moz-linear-gradient(top,  #148cbc 0%, #0f6284 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148cbc), color-stop(100%,#0f6284));
				background: -webkit-linear-gradient(top,  #148cbc 0%,#0f6284 100%);
				background: -o-linear-gradient(top,  #148cbc 0%,#0f6284 100%);
				background: -ms-linear-gradient(top,  #148cbc 0%,#0f6284 100%);
				background: linear-gradient(to bottom,  #148cbc 0%,#0f6284 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148cbc', endColorstr='#0f6284',GradientType=0 );
				color: #fff;
				min-width: 6px;
				padding: 4px 7px 0 7px;
			}
		.pagination li a{
			background-color: #fff;
			border: 1px #d5d5d5 solid;
			border-radius: 3px;
			color: #000;
			display: block;
			height: 16px;
			min-width: 6px;
			padding: 4px 7px 0 7px;
			text-align: center;
		}
			.pagination li a.btn{padding: 4px 15px 0 15px;}
/*** END pagination ***/
/*** Footer ***/
.footer{
	background-color: #e7e7e7;
	border-top: 1px #d5d5d5 solid;
	clear: both;
	margin-top: 20px;
}
	.footer_content{
		overflow: hidden;
		padding: 20px 0 30px 23px;
		width: 1487px;
	}
		.footer_content p{
			color: #666;
			font-size: 11px;
			line-height: 14px;
			text-shadow: #fff 0px 1px 0px;
		}
			.footer_content a{color: #666;}
			.copy{
				float: left;
			}
			.right{
				float: right;
				text-align: right;
				width: 594px;
			}