// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add_task{
  margin-bottom: 20px;
}


.tasks {
  tr.bug {
    td {
      background-color: #FCE8E9;
    }
  }

  .body { width: 450px; }

  td.take{
    width: 300px;
  }

  .del{
    text-decoration: line-through;
  }
}

.comment_form {
  .task_comment {
    width: 195px;
    height: 55px;
    padding-top: 5px;
  }
  .actions {
    margin-top: 12px;
  }
}

/*.form_block_content .fake_row .task_body{
  textarea {
    width: 240px !important;
  }
}
.form_block_content .fake_row .task_comment{
  textarea {
    width: 240px !important;
  }
}*/

.review_form {
  .review {
    width: 195px;
    height: 155px;
    padding-top: 5px;
  }
  .actions {
    margin-top: 12px;
  }
}

.review_popup {
  width: 235px;
  position:fixed;
  top: 100px;
  left: 0px;

  p {
    width: 195px;
  }
}

.form_column {
  .file {
    max-width: 320px;
  }
}

.uploader {
  background: url("/assets/new_design/images/gm.png") no-repeat scroll 0% 0% transparent;
  display: block;
  height: 14px;
  margin-left: 24px;
  width: 20px;
}