// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_body{
  margin-top: 17px;
  textarea {
    height: 200px;
    width: 1000px;
  }
}
.add_task{
  margin-bottom: 20px;
}
.tasks {
  tr.bug {
    td {
      background-color: #FCE8E9;
    }
  }

  .body { width: 450px; }

  td.take{
    width: 300px;
  }

  .del{
    text-decoration: line-through;
  }
}
