.tourists {
  th, td { max-width: 130px; }
  td p, td span { white-space: nowrap; overflow: hidden;}
  .what_to_do { max-width: 350px; }
  .actions { width: 68px; }

  // Statuses
  tr {
    &.important .what_to_do { background: #ED2222; }
    &.reserved { background: #FF8888; }
    &.refused { background: #CCCCCC; }
  }
}

.low_resolution .tourists .what_to_do { max-width: 150px; }

/*.tourists .address { width: 300px; }*/

/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/
.state.refused {
  border-top: 1px solid #d5d5d5; padding-top: 10px;
}

.state.selection label, .state.revision label  {
  color: #ED2222
}

.state.reserved label{
  color: #FF8888
}

.tourist {
  h1 { float: left; }
  .user { float: right; margin-top: 11px; }

  .form_column {
    .wide {
      width: 266px;
    }
    .third {
      width: 120px;
      margin-right: 2px;
    }
    .last_third {
      width: 120px;
    }
  }

  .fields {
    .passport_series { width: 80px; margin-right: 2px; }
    .passport_number { width: 168px; }
    .wishes, .actions { min-height: 80px; }
    p.one_row { margin-bottom: 13px; }
    .potential_wrapper { border-bottom: 1px solid #d5d5d5; padding-bottom: 10px; margin-right: 20px; }
  }

  #files_block {
    h2 span { font-size: 13px; }
    .file_link { position: relative; overflow: hidden; padding-right: 20px;
      .link_url { width: 200px; word-wrap: none; }
      .del { float: right; }
    }
    .new_file { position: relative; overflow: hidden; padding-right: 20px;
      .file, input { width: 200px; }
      .del { float: right; }
    }
  }
}

// .edit_tourists {
//   .form_block {
//     margin-top: 25px;
//   }
// }