.tourists {
  th, td { max-width: 130px; }
  td p, td span { white-space: nowrap; overflow: hidden;}
  .what_to_do { max-width: 350px; }
  .actions { width: 68px; }

  // Statuses
  tr {
   /* &.important .what_to_do { background: #ED2222; } */
    &.no_state { background: #ED2222 !important; }
    &.reserved { background: #BDE0FA !important; }
    &.refused { background: #CCCCCC !important; }
    &.selection td.state { background: #F4A460 !important; }
    &.revision td.state { background: #F4A460 !important; }
  }

}

.low_resolution .tourists .what_to_do { max-width: 150px; }

/*.tourists .address { width: 300px; }*/

/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/
.extended label.refused  { font-weight: bold; }
.extended .state.refused {
  border-top: 1px solid #d5d5d5; padding-top: 10px;
}

.state.selection label, .state.revision label  {
  color: #ED2222
}

.state.reserved label{
  color: #FF8888
}


.potential_links {
  .create_own {
    margin-left: 5px !important;
  }

  .delete {
    margin-left: 5px !important;
  }
}

.tourist, .potential_client {
  h1 { float: left; }
  .user { float: right; margin-top: 11px; }

  .form_column {
    .wide {
      width: 266px;
    }
    .third {
      width: 120px;
      margin-right: 2px;
    }
    .last_third {
      width: 120px;
    }
  }

  .fields {
    .passport_series { width: 80px; margin-right: 2px; }
    .passport_number { width: 168px; }
    .wishes, .actions { min-height: 80px; }
    p.one_row { margin-bottom: 13px; }
    .potential_wrapper { border-bottom: 1px solid #d5d5d5; padding-bottom: 10px; margin-right: 20px; }
  }

  #files_block {
    h2 span { font-size: 13px; }
    .file_link { position: relative; overflow: hidden; padding-right: 20px;
      .link_url { width: 200px; word-wrap: none; }
      .del { float: right; }
    }
    .new_file { position: relative; overflow: hidden; padding-right: 20px;
      .file, input { width: 200px; }
      .del { float: right; }
    }
  }

  .with_l_margin {margin-left: 20px;}
}

.edit_tourist .comment_form {
  width: 93%; margin: 20px;
  #comment_body { width: 100%; height: 100px; }
}

.comment .date_name {
  color: red;
  width: 120px;
}

.comment_form .comment {
  margin-bottom: 10px;
}

#tourist_tasks .tasks_block {
  overflow: hidden;
  p {float: left;}
  .del { float: right; margin-right: 15px; }
  input[ type="checkbox"] {
    display: inline-block;
  }
}

// Additional
.tourist, .potential_client {
  .true_tourist {width: 100%; min-width: 900px;}
  #new_task_name {width: 159px;}
  .refused {width:93%;}
  .filter_area { margin-top: 25px; }
  .filter {width: 100%; height: auto; padding: 0;margin-top:5px; }
  .filter_row { width: 100%; }
  .filter_block {  float: left; margin-right: 20px; width: 200px; }
  .filter_block {
     float: left; margin-right: 20px; width: 200px;
    .ik_select {
      width: 200px !important;
     .ik_select_link_text, .ik_select_link { width: 200px; }
    }
  }
  .wrap-select .ik_select .ik_select_link_text { width: 200px; }
  .filter label:first-child { float: none; }
  .state .note_red { color: #f00; }
  .state .note_rose { color: #FFAEB5; }
  .wrap-input { float: left;  }
  .add_btn { border: none;}
   .tasks_states { padding-top: 15px; border-top: 1px solid #d5d5d5; margin-right: 20px; margin-top: 5px;}
  .tasks_states label.left_checkbox { padding: 0; margin-right: 7px; }
  .state_name { width: 212px; }
  .tasks_block {
    input.autocomplete  { width: 175px !important;   }
    .add_btn { float:right;
      .add { width: 67px; border-radius: 5px; margin-top: 0; }
    }

   }
  .common_info {
    .wrap-select { width: 266px; }
    .form_block_content { padding-bottom: 10px; }
  }

  .form_column { float: left; width: auto; }
  .form_column-large { margin-right: 0; }

  .client_comments_column {
    .client_comments {
      width: 100% !important;
      .fake_row textarea { height: 85px; width: 100%; padding-left: 0;}
      .form_block_content { padding-right: 20px; padding-bottom: 5px; }
      .add_btn { display: block; padding-right:0;  text-align: right; overflow: hidden; }
      .add_tourist {  margin-bottom: 10px; background: url("/assets/new_design/images/add_comment.png")  no-repeat;
        width: 146px; display: block; float: right;
      }
      min-width: 320px; width: auto;
    }
    .client_comments_log {
      background: #fff; color: #000; border: solid 1px #ccc; border-radius: 4px; padding: 10px;
      li+li { margin-top: 15px; }
      p { margin-bottom: 0; }
      .managers_name  { width: 22%; float:left; margin-right: 20px;
        .date { color: #f00; }
      }
      .comment { width:70%; float: left; color: #0892FF; }
    }
  }
}

.tourist {
  .client_comments_column { float: none; width: 980px; }
}

.potential_client.extended {
  .state {
    .refuse_reason input { float: left; width: 118px; }
    .ik_select { width: 130px !important; }
  }
  .client_comments_column {
    margin-left: 325px !important;
    width: auto !important;
    display: block;
    float: none !important;
    margin-right: 325px !important;
  }
  .forms_area {
    position: relative;
    min-height: 800px;
  }
  .common_block {
    position: absolute;
    left: 0;
    top: 0;
  }
  .tourist_files_wrap {
    position: absolute;
    left:0;
    top: 517px;
  }
  .states_block {
    position: absolute;
    right:0;
    top: 0;
    margin-right: 0;

  }
  .tourist_tasks_wrap {
    position: absolute;
    right:0;
    top: 294px;
    margin-right: 0;
  }
  .col-left {
    float: none;
  }
}

.new_tourist {
  .potential_client.extended {
    .states_block { left: 326px; right: auto; }
    .tourist_tasks_wrap { left: 326px; right: auto; }
    .tourist_files_wrap { left: 652px; top: 0; }
  }
}

@media screen and (max-width: 1077px) {
  .potential_client {
    .common_block, .states_block, .tourist_tasks_wrap, .tourist_files_wrap {
      position: static;
      float: left;
      margin-top: 0 !important;
    }
    .common_block { margin-top: 25px !important; }
    .client_comments_column {
      margin-left: 326px !important;
      margin-right: 0 !important;
    }
    .col-left {
      float: left;
      width: 326px;
    }
  }
}

.tour_tip .tooltip-inner {
    white-space: pre-wrap;
    min-width: 100px;
}

#task_values .error_message {
  width: 238px;
  display: inline-block;
}

