.tourists .full_name { width: 244px; }
.tourists .passport { width:124px; }
.tourists .passport_series, .tourists .passport_number { width: 62px; }
.tourists .passport_valid_until { width: 96px; }
.tourists .date_of_birth { width: 88px; }
.tourists .phone_number { width: 110px; }
/*.tourists .address { width: 300px; }*/
.tourists .actions { width: 68px; }

.tourists th.colspan a {
    float: none;
    padding-top: 15px !important;
    width: auto;
}
.tourists th.colspan span {
  width: 52px;
  text-align: left;
}

/* tourist form */
/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/
.tourist .wide { width: 266px; }
.tourist .third { width: 120px; margin-right: 2px; }
.tourist .last_third { width: 120px; }
.tourist .passport_series { width: 80px; margin-right: 2px; }
.tourist .passport_number { width: 168px; }