.tourists {
  th, td { max-width: 130px; }
  td p, td span { white-space: nowrap; overflow: hidden;}
  .what_to_do { max-width: 350px; }
  .actions { width: 68px; }
}

/*.tourists .address { width: 300px; }*/

/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/

.tourist {
  h1 { float: left; }
  .user { float: right; margin-top: 11px; }

  .form_column {
    .wide {
      width: 266px;
    }
    .third {
      width: 120px;
      margin-right: 2px;
    }
    .last_third {
      width: 120px;
    }
  }

  .fields {
    .passport_series { width: 80px; margin-right: 2px; }
    .passport_number { width: 168px; }
    .wishes, .actions { height: 130px; }
    p.one_row { margin-bottom: 13px; }
  }
}

// .edit_tourists {
//   .form_block {
//     margin-top: 25px;
//   }
// }