.tourists {
  th, td { max-width: 130px; }
  td p, td span { white-space: nowrap; overflow: hidden;}
  .what_to_do { max-width: 350px; }
  .actions { width: 68px; }

  // Statuses
  tr {
    &.important .what_to_do { background: #ED2222; }
    &.reserved { background: #F6E0E1; }
    &.refused { background: #e0e0e0; }
  }
}

.low_resolution .tourists .what_to_do { max-width: 150px; }

/*.tourists .address { width: 300px; }*/

/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/

.tourist {
  h1 { float: left; }
  .user { float: right; margin-top: 11px; }

  .form_column {
    .wide {
      width: 266px;
    }
    .third {
      width: 120px;
      margin-right: 2px;
    }
    .last_third {
      width: 120px;
    }
  }

  .fields {
    .passport_series { width: 80px; margin-right: 2px; }
    .passport_number { width: 168px; }
    .wishes, .actions { min-height: 80px; }
    p.one_row { margin-bottom: 13px; }
    .potential_wrapper { border-bottom: 1px solid #d5d5d5; padding-bottom: 10px; margin-right: 20px; }
  }
}

// .edit_tourists {
//   .form_block {
//     margin-top: 25px;
//   }
// }