.tourists {
  th, td { max-width: 130px; }
  td p, td span { white-space: nowrap; overflow: hidden;}
  .what_to_do { max-width: 350px; }
  .actions { width: 68px; }

  // Statuses
  tr {
   /* &.important .what_to_do { background: #ED2222; } */
    &.reserved { background: #FF8888; }
    &.refused { background: #CCCCCC; }
  }
}

.low_resolution .tourists .what_to_do { max-width: 150px; }

/*.tourists .address { width: 300px; }*/

/*.tourist .first,
.tourist .first .form_block { width: 450px; }
.tourist .first .block_title { width: 428px; }*/
.state.refused {
  border-top: 1px solid #d5d5d5; padding-top: 10px;
}

.state.selection label, .state.revision label  {
  color: #ED2222
}

.state.reserved label{
  color: #FF8888
}

.tourists {
  tr {
    &.selection td.state { background: #ED2222; }
    &.revision td.state { background: #ED2222; }
  }
}

.tourist {
  h1 { float: left; }
  .user { float: right; margin-top: 11px; }

  .form_column {
    .wide {
      width: 266px;
    }
    .third {
      width: 120px;
      margin-right: 2px;
    }
    .last_third {
      width: 120px;
    }
  }

  .fields {
    .passport_series { width: 80px; margin-right: 2px; }
    .passport_number { width: 168px; }
    .wishes, .actions { min-height: 80px; }
    p.one_row { margin-bottom: 13px; }
    .potential_wrapper { border-bottom: 1px solid #d5d5d5; padding-bottom: 10px; margin-right: 20px; }
  }

  #files_block {
    h2 span { font-size: 13px; }
    .file_link { position: relative; overflow: hidden; padding-right: 20px;
      .link_url { width: 200px; word-wrap: none; }
      .del { float: right; }
    }
    .new_file { position: relative; overflow: hidden; padding-right: 20px;
      .file, input { width: 200px; }
      .del { float: right; }
    }
  }
}

.edit_tourist .comment_form {
  width: 93%; margin: 20px;
  #comment_body { width: 100%; height: 100px; }
}

.comment .date_name {
  color: red;
  width: 120px;
}

.comment_form .comment {
  margin-bottom: 10px;
}

#tourist_tasks .tasks_block {
  overflow: hidden;
  p {float: left;}
  .del { float: right; margin-right: 15px; }
  input[ type="checkbox"] {
    display: inline-block;
  }
}

// Additional
.tourist {
  .refused {width:93%;}
  .filter_area { margin-top: 25px; }
  .filter {width: 100%; height: auto; padding: 0; }
  .filter_row { width: 100%; }
  .filter_block {  float: left; margin-right: 20px; width: 200px; } 
  .wrap-select .ik_select .ik_select_link_text { width: 200px; }
  .filter label:first-child { float: none; }
  .state .note_red { color: #f00; }
  .state .note_rose { color: #FFAEB5; }
  label.refused  { font-size: 14px; font-weight: bold;}
  .wrap-input { float: left;  }
  .add_btn { border: none;}
   .tasks_states { padding-top: 15px; border-top: 1px solid #d5d5d5; margin-right: 20px; margin-top: 5px;}
  .tasks_states label.checkbox.left_checkbox { padding: 0; margin-right: 7px; }
  .state_name { width: 224px; }
  .tasks_block {
    input.autocomplete  { width: 165px; }
    .add_btn { float:right;
      .add { width: 67px; border-radius: 5px; margin-top: 0; }
    }

   }
  .clients_tasks {
    .fake_row textarea { height: 85px; width: 100%; }
    .form_block_content { padding-right: 20px; padding-bottom: 5px; }
  }

  .add-comment { text-align: right; margin-bottom: 10px;}
  .clients_tasks_log {
    background: #fff; color: #000; border: solid 1px #ccc; border-radius: 4px; padding: 10px;
    li+li { margin-top: 15px; }
    p { margin-bottom: 0; }
    .managers_name  { width: 130px; float:left; margin-right: 20px;
      .date { color: #f00; }
    }
    .comment { width: 505px; float: left; color: #0892FF; }

  }
  .common_info {
    .wrap-select { width: 266px; }
    .form_block_content { padding-bottom: 10px; }
  }
  .state {
    .refuse_reason {
      overflow: hidden;
      input { float: left; width: 130px; }
      .ik_select { float: left; width: 130px !important; }
    }
  }
}