.profile_edit {
  .form_column {
    margin-top: 25px;
    &.last { margin-top: 25px; }
    .color_select {
      &.ik_select { width: 213px !important; }
      .ik_select_link { width: 211px !important; }
      .ik_select_link_text { width: 196px !important; }
      .ik_select_list { width: 209px !important; }
    }
    .color {
      width: 200px !important;
      border-color: #fff;
    }
    input[disabled] { background-color: #DDD; }
    p[disabled], label[disabled] { color: #999; }
  }
}

.form_column.sign_form {
  margin-top: 0;
  width: 320px;
  .form_block {
    width: 320px;
  }
  .block_title, .fake_row {
    width: auto;
  }
  .links a {
    display: inline-block;
    margin-right: 8px;
  }
  input[type="text"], input[type="password"] {
    width: 265px;;
  }
}

.new_user {
  #user_phone_code {
    width: 45px
  }
  #user_phone {
    width: 188px
  }
  #user_phone_wrapper {
    width: 198px
  }
}

/*.middle_resoluition {
  .type_user {
    width: 655px;
  }
  .single_row {
    .ik_select { width: 667px; }
    .ik_select_link { width: 665px; }
    .ik_select_link_text { width: 650px; }
    .ik_select_list { width: 663px; }
    .color_select {
      &.ik_select { width: 475px; }
      .ik_select_link { width: 473px; }
      .ik_select_link_text { width: 458px; }
      .ik_select_list { width: 471px; }
    }
  }
}*/