- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.sms_contacts')

= render 'navigation'
    
- content_for :top do
  .filter
    %strong
      = sms_balance
      SMS на вашем балансе
    %span по состоянию на 30 июня 2013 в 00:03

%table#sms_clients
  %tr
    %td.sidebar
      = render 'sidebar'
    %td
      = render 'list'
