!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    :css
      h1 { color:#333; font: 20px Arial; }
      p { color:#333; font: 13px Arial; }
      a { font: bold 13px Arial; color:#0076be; }
    %body
    %table{:bgcolor => "#fffaf2", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "padding-bottom: 100px;", :width => "100%"}
      %tr{:height => "75", :width => "100%"}
      %tr
        %td{:align => "center", :valign => "top", :width => "100%"}
          %table{:bgcolor => "#fff", :cellpadding => "0", :cellspacing => "0", :style => "border: solid 1px #f4f4f4; padding: 20px 30px;", :width => "600"}
            %tr
              %td{:100px => "", :align => "left", :style => "padding-top:10px;", "width:" => ""}
                %p olo
              %td{:align => "right"}
                %p{:style => "color:#666; font: 13px Arial; margin: 0 0 15px 0; "} Центр обслуживания клиентов
                %p{:align => "right", :style => "font: 20px Arial; color:#0076be; margin: 0; text-decoration: none;"} 8 800 775 76 76
                %p{:align => "right", :style => "margin: 5px 0 0 0;"}
                  %a{:href => "mailto:support@columbis.ru", :style => "color:#666; font: 13px Arial;"} support@columbis.ru
            %tr{:width => "530px"}
              %td{:colspan => "2", :style => "padding-top:10px; color:#333; font: 13px Arial;", :width => "530px"}
                %h1{:style => "color:#333; font: 20px Arial;"} Здравствуйте, Павел Эдуардович!
                %p
                  С вашего почтового ящика была запрошена регистрация на сайте
                  %a{:href => "http://columbis.ru"} Columbis.ru
                %p
                  Для того, чтобы подветрдить регистрацию, пожалуйста, перейдите по ссылке
                  %br
                  %a{:href => "http://smsaero.ru/users/confirm/5869c8778a", :style => "font: bold 13px Arial; color:#0076be;"} http://smsaero.ru/users/confirm/5869c8778a
                %p Спасибо, что выбрали Columbis!