- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.sms_sendings')

= render 'navigation'
    
- content_for :top do
  .actions
    = link_to t('.add_sms_sending'), new_sms_sending_path, :class => 'button green add'
  .filter
    %strong 97 SMS на вашем балансе
    %span по состоянию на 30 июня 2013 в 00:03

= render 'list'

- content_for(:float_panel) do
  = link_to t('.add_sms_sending'), new_sms_sending_path, :class => 'add_operator'