- set_current_width(:small)
- content_for(:body_class) { 'panel' }

- title t('.new_sms_sendings')

= render 'navigation'

%br
= render 'form'

- content_for(:float_panel) do
  = link_to t('back'), :back, :class => 'back'
  = link_to t('save'), '#', :class => 'save', :data => { :submit => @form_id }